{% extends "base.jinja" %}
{% block title %}CoMSES Net Sign In{% endblock %}

{% block introduction %}
    <h1>Sign In</h1>
{% endblock %}

{% block content %}
<div class='row' style='padding-top: 20px;'>
    <div class='col'>
        <div class="alert alert-info">
            Forgot your password? <a href="{{ url('account_reset_password') }}">Request a new password</a> or
            <a href="{{ url('account_signup') }}">sign up for a free CoMSES Net account</a>.
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>User Account Deactivated</h3>
        <p>You attempted to sign in with a deactivated account. Try <a href="{{ url('account_login') }}">signing in</a> with an active CoMSES Net Account.</p>
    </div>
</div>
{% include "includes/socialauth_login.jinja" %}
{% endblock content %}
