{% extends "base.jinja" %}

{% set password_reset_url=url('account_reset_password') %}

{% block title %}CoMSES Net Sign In{% endblock %}

{% block introduction %}
    <h1>Sign In</h1>
{% endblock %}

{% block content %}
{% set has_errors=form.non_field_errors() %}
{% if has_errors %}
    <div class='alert alert-danger'>
        The username/email and password combination you entered didn't match our records.
        <a href="{{ password_reset_url }}">Reset your password?</a>
    </div>
{% endif %}
<p class='lead'>
Use the sign in buttons below to access CoMSES.Net with your <a href='https://github.com'>GitHub</a>
or <a href='https://orcid.org'>ORCID</a> account.<br><br>
<b>New users:</b> Sign in with GitHub or ORCID and complete the registration process to create an account.
<br><br>
<b>Existing users:</b> To link a GitHub or ORCID account, first sign in with your CoMSES.Net username and password, then visit your
<a href='{{url("core:account-profile")}}#local-signin'>account settings page</a> to connect additional sign-in methods.
</p>
{% include "includes/socialauth_login.jinja" %}
<hr>
<div class='row'>
    <div class="col">
        <h3><a class='anchor' id='local-signin'></a>Sign in with your CoMSES Net Account</h3>
        <p>New user? Sign up with GitHub or ORCID or <a href='/accounts/signup/'>fill out a brief form to create a new CoMSES Net account</a>.</p>
        <form id='signin-form' role="form" class="form-horizontal" method="post">
            {{ csrf_input }}
            <div id='login' class='mb-3'>
                <input name='login' type='text' class='form-control {{ 'is-invalid' if has_errors }}' placeholder='Username or email'>
            </div>
            <div id='password' class='mb-3'>
                <input name='password' type='password' class='form-control {{ 'is-invalid' if has_errors }}' placeholder='Password'>
                <small><a href="{{ password_reset_url }}">Forgot your password?</a></small>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class='fas fa-sign-in-alt'></i> Sign In
            </button>
        </form>
    </div>
</div>
{% endblock content %}
