{% extends "base.jinja" %}

{% block introduction %}
<h1>Request a password reset</h1>
{% endblock %}

{% block content %}
    <p>Forgotten your password? Enter your email address below and we'll send you instructions to reset it.</p>
<form method="post">{{ csrf_input }}
    <div class="form-group">
        {{ form.email.errors }}
        <input id='id_email' class='form-control' type='email' name='email' maxlength=100 placeholder='Email address' required>
        <small class='form-text text-muted'>Enter the email address you used to register with this site.</small>
    </div>
    <button type="submit" class='btn btn-primary'>
        Reset my password
    </button>
</form>
{% endblock %}
