{% extends "base.jinja" %}

{% block title %} Signup for a CoMSES Net Account{% endblock %}

{% block introduction %}
<h1>Join CoMSES Net</h1>
{% endblock %}

{% block content %}
<div class='alert alert-info'>
    Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
</div>
<p class='lead'>
As a scientific community of practice, CoMSES.Net connects researchers, educators, practitioners, and students who use computational modeling to advance science and support evidence-based decision-making. Members have access to a range of community resources and are encouraged to contribute their expertise, knowledge and experience to further strengthen the community.<br><br>
Public resources include <a href='https://forum.comses.net'>discussion forums</a>, <a href='/events/'>an events calendar</a>, <a href='/jobs/'>a jobs and opportunities board</a>, <a href='{{slugurl('education')}}'>educational and training materials</a>, and access to the <a href='/codebases/'>Computational Model Library</a> where researchers can publish computational models and research software using open science best practices. The Library supports <a href='/reviews/'>peer review</a>, persistent identifiers (DOIs), rich interoperable metadata, and community standards that promote the findability, accessibility, interoperability, reusability, and long-term preservation of published computational models and research software.
</p>
<p>
CoMSES.Net offers two categories of membership: <em>Basic Members</em> and <em>Full Members</em>. Registration also includes access to the quarterly <a href='/digest/'>CoMSES Digest newsletter</a>, featuring community news, upcoming events, recent model publications, educational opportunities, and other announcements of interest to our community.
</p>
<p>
Our cyberinfrastructure is generously hosted by <a href='https://alliancecan.ca/'>the Digital Research Alliance of Canada's</a> <a href='https://www.alliancecan.ca/en/our-services/advanced-research-computing/accessing-advanced-research-computing-resources'>Research Platforms and Portals program</a>.
</p>
{% include 'includes/membership.jinja' %}
<p>
Join CoMSES.Net by completing the registration form below or signing in with an existing GitHub or ORCID account.
</p>
{% include 'includes/socialauth_login.jinja' %}
<form class="signup" id="signup_form" method="post">
    {% include "includes/form.jinja" %}
    <button type="submit" class='btn btn-primary'>Sign Up</button>
</form>

{% endblock %}
