{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Job Search{% endblock %}

{% block header %}<h1>Jobs</h1>{% endblock %}

{% block content %}
    <h1>Search</h1>

    <form action="{% url 'job-list' %}" method="get">
        <input type="text" name="query"{% if query %} value="{{ query }}"{% endif %}>
        <input type="submit" value="Search" class="button">
    </form>

    {% if results %}
        <span><i>{{ count }}</i> Results</span>
        <table class="table table-striped" id="search-results">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Creator</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td><a href="{{ result.url }}">{{ result.title }}</a></td>
                    <td>{{ result.date_created }}</td>
                    <td>{{ result.creator.username }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No results for the provided query</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if range %}
            <nav aria-label="...">
                <ul class="pagination">
                    {% for page_index in range %}
                        {% if page_index == page_ind %}
                            <li class="page-item active">
                                <span class="page-link">{{ page_index }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% url 'job-list' %}?query={{ query|default:'' }}&amp;page={{ page_index }}#search-results">{{ page_index }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    {% elif query %}
        No results found
    {% endif %}
{% endblock %}
