{% extends "base.jinja" %}
{% from "common.jinja" import list_page, paginator %}

{% block title %}Event: {{ title }}{% endblock %}

{% block introduction %}<h1>Event: {{ title }}</h1>{% endblock %}

{% block content %}
    <h4>Created on: {{ date_created }}</h4>
    {{ description|linebreaks }}
{% endblock %}
