{% extends "base.jinja" %}
{% from "common.jinja" import retrieve_introduction %}

{% block title %}Event: {{ title }}{% endblock %}

{% block introduction %}{{ retrieve_introduction("Event: " + title) }}{% endblock %}

{% block content %}
    <h4>Created on: {{ date_created }}</h4>
    {{ markdown(description)|safe }}
{% endblock %}
