{% extends "base.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator, breadcrumb, subnav %}

{% block extra_css %}
    {% with FULLCALENDAR_VERSION="3.9.0" %}
        <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/{{FULLCALENDAR_VERSION}}/fullcalendar.min.css">
    {% endwith %}
{% endblock %}

{% block title %}Community Events{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}


{% block content %}
    {{ breadcrumb([{'text': 'Community Events' }]) }}
    {{ subnav([ 
    {'text': 'Calendar View', 'url': url('core:event-calendar'), 'active': True},
    {'text': 'List View', 'url': url('core:event-list'), },
    ])
    }}
    <div class='my-3' id="event-calendar"></div>
{% endblock %}

{% block js %}
    {{ vite_asset("apps/event_calendar.ts") }}
{% endblock %}
