{% extends 'base.jinja' %}

{% block introduction %}<h1>Submit an Event</h1>{% endblock %}

{% block content %}
<div id="event-form"></div>
{% endblock %}

{% block js %}
{{ vite_asset('apps/event_edit.ts') }}
{% endblock %}