{% extends "search_layout.jinja" %}
{% from "common.jinja" import list_page, paginator, breadcrumb, subnav, member_profile_href, search_tag_href, search_bar, render_ogp_tags
%}



{% macro render_event(item, detail_url_name) %}
<div class="card mb-3" data-cy="event-result">
    <div class='card-body'>
        <div class='row'>
            <div class='col-8'>
                <h3 class='title mb-0'>
                    <a href="{{ url(detail_url_name, pk=item.id) }}">{{ item.title }}</a>
                </h3>
                <b class='title'>
                    {{ format_date_str(item.start_date) }}
                    {% if item.end_date %}
                    - {{ format_date_str(item.end_date) }}
                    {% endif %}
                </b>
            </div>
            <div class='col-4 d-flex flex-column align-items-end'>
                {% if item.is_expired %}
                <small class="alert alert-danger d-flex align-items-center px-2 py-0 mb-1" role="alert">
                    <i class="fas fa-clock text-danger"></i>
                    <span class="ms-2">Past event</span>
                </small>
                {% else %}
                <small class="alert alert-success d-flex align-items-center px-2 py-0 mb-1" role="alert">
                    <i class="fas fa-clock"></i>
                    {% if item.is_started %}
                    <span class="ms-2">Starts in {{ timeuntil(item.start_date) }}</span>
                    {% else %}
                    <span class="ms-2">Started {{ timesince(item.start_date) }} ago</span>
                    {% endif %}
                </small>
                {% endif %}
                <small class="text-muted text-end">Last updated {{ timesince(item.last_modified) }} ago</small>
                <small>
                    Submitted by {{ member_profile_href(item.submitter.member_profile) }}
                </small>
            </div>
        </div>
        <div class='row mt-3'>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Early Reg. Deadline</dt>
                    <dd>{{ format_date_str(item.early_registration_deadline) }}</dd>
                </dl>
            </div>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Registration Deadline</dt>
                    <dd>{{ format_date_str(item.registration_deadline) }}</dd>
                </dl>
            </div>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Submission Deadline</dt>
                    <dd>{{ format_date_str(item.submission_deadline) }}</dd>
                </dl>
            </div>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Location</dt>
                    <dd>{{ item.location }}</dd>
                </dl>
            </div>
        </div>
        {% if item.summary %}
        <div class='row'>
            <div class='col'>
                {{ markdown(item.summary) }}
            </div>
        </div>
        {% endif %}
        {% if item.tags %}
        <div class="tag-list">
            {% for tag in item.tags %}
            {{ search_tag_href(tag, category='events') }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}




{% block title %}Community Events{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}

{% set pagination_block = paginator('core:event-list', __all__) %}

{% block top %}
{{ breadcrumb([{'text': 'Community Events' }]) }}
<div class="mb-4">
    {{ subnav([
    {'text': 'Calendar View', 'url': url('core:event-calendar')},
    {'text': 'List View', 'url': url('core:event-list'), 'active': True},
    ])}}
</div>
{% endblock %}

{% block search %}
{{ search_bar(request, url("core:event-list"), "Search Events") }}
{{ pagination_block }}
{% endblock %}



{% block content %}
{{ list_page(__all__, render_event, 'core:event-detail') }}
{% if count > 10 %}
{{ pagination_block }}
{% endif %}
{% endblock %}

{% block ogp_tags %}
{{ render_ogp_tags(request, title="Community Events", description="View all events related to CoMSES.")}}
{% endblock ogp_tags %}


{% block sidebar %}
<div id="sidebar"></div>
{% endblock %}

{% block js %}
{{ vite_asset('apps/event_list.ts') }}
{% endblock %}