{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import breadcrumb, embed_discourse_comments, share_card, member_profile_href, search_tag_href, delete_confirm_modal, render_ogp_tags, spam_detected_alert %}

{% block title %}{{ title }}{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}

{%- block head -%}
<link rel='canonical' id='discourseEmbedUrl' href='{{ request.build_absolute_uri(absolute_url) }}'>
{% endblock %}

{% block top %}
    {{ breadcrumb([
    {'text': 'Community Events', 'url': url('core:event-list')},
    {'text': title }
    ]) }}
{% endblock %}

{% block ogp_tags %}
    {{ render_ogp_tags(request, title=title, description=summary) }}
{% endblock ogp_tags %}

{% block content %}
    {% if is_marked_spam %}
        {{ spam_detected_alert() }}
    {% endif %}
    <div id='discourse-content'>
        <h1>{{ title }}</h1>
        {% if tags %}
            <div class='tag-list'>
            {% for tag in tags %}
                {{ search_tag_href(tag, category='events') }}
            {% endfor %}
            </div>
        {% endif %}
        <hr>
        <div class='lead'>
        {{ markdown(description) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card-metadata">
        <div class="card-body">
            <div class='section'>
                <b class="card-title">Submitter</b>
                <p class="card-text">{{ member_profile_href(submitter.member_profile) }}</p>
                <b class="card-title">Last updated</b>
                <p class="card-text">{{ format_datetime_str(last_modified) }}</p>
                <b class="card-title">When</b>
                <p class="card-text">
                    {{ format_date_str(start_date) }}
                    {% if end_date %}
                     - {{ format_date_str(end_date) }}
                    {% endif %}
                </p>
                <b class="card-title">Where</b>
                <p class='card-text'>{{ location|default("No location specified") }}</p>
                {% if external_url %}
                    <b class='card-title'>More information</b>
                    <p class='card-text'>
                    <a href="{{ external_url }}" target="_blank">{{ external_url }} <span class="fas fa-external-link-alt"></span></a>
                    </p>
                {% endif %}
                <b class="card-title">Early registration deadline</b>
                <p class="card-text">{{ format_date_str(early_registration_deadline) }}</p>
                <b class="card-title">Registration deadline</b>
                <p class="card-text">{{ format_date_str(registration_deadline) }}</p>
                <b class="card-title">Submission deadline</b>
                <p class="card-text">{{ format_date_str(submission_deadline) }}</p>
            </div>
        </div>
    </div>
    {% if has_change_perm %}
        <a href="{{ url('core:event-edit', pk=id) }}">
            <div class="btn btn-primary my-1 w-100">Edit</div>
        </a>
    {% endif %}
    {% if has_delete_perm %}
        {{ delete_confirm_modal("Delete Event", title, url("core:event-delete", pk=id), csrf_input) }}
    {% endif %}
    {#{{ share_card(absolute_url) }}#}
{% endblock %}

{% block bottom %}
    <div class='col-12'>
        {{ embed_discourse_comments(true, submitter.username, request.csp_nonce) }}
    </div>
{% endblock %}
