{% extends "base.jinja" %}

{% block introduction_section %}
    <section class='landing-page-introduction'>
        <div class='container'>
            <h1>A growing collection of resources for computational <br> model-based science.</h1>
            <h2>A versioned repository of computational models &amp; their digital context, tutorials, and FAQ's on agent based modeling</h2>
            <div class='row'>
                <div class='col'>
                    <a class='btn btn-primary' href='{{ url("library:codebase-list") }}'>View model library</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block page %}
<section class='mission'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                {{ page.mission_statement }}
                <a href='/about/'>Learn more</a>
            </div>
        </div>
    </div>
</section>
<div class='container'>
    <section class='callouts'>
        <div class='row'>
            <div class='col'>
                <a href='{{ url("library:codebase-create") }}'>
                    <img src='{{ static("images/icons/submit.png") }}' alt='Publish your code'>
                    <h3>Publish your Code</h3>
                </a>
                <div class='caption'>
                    Preserve the complete digital pipeline used to derive a publishable finding. Other researchers will be able to
                    discover, cite, and run your code in a reproducible containerized environment.
                </div>
            </div>
            <div class='col'>
                <a href='/resources/'>
                    <img src='{{ static("images/icons/search.png") }}' alt='Resources for Computational Modelers'>
                    <h3>Resources for Modelers</h3>
                </a>
                <div class='caption'>
                    Comprehensive lists and tutorials on agent based modeling platforms, documentation standards, educational materials (curricula,
                    lesson plans, examples of formative or summative assessment), guides to good practice for reuse and reproducibility
                </div>
            </div>
            <div class='col'>
                <a href='{{ url("home:event-list") }}'>
                    <img src='{{ static("images/icons/groups.png") }}' alt='Upcoming Events'>
                    <h3>Upcoming Events</h3>
                </a>
                <div class='caption'>
                    Upcoming conferences, workshops, and other events curated by the CoMSES Net Community
                </div>
            </div>
        </div>
    </section>
</div>
<section class='featured-content'>
    <h1>Featured Content</h1>
    <div id='featured-content-carousel' class='carousel slide' data-ride='carousel' data-pause='hover'>
        <ol class="carousel-indicators">
            {% for _ in featured_content %}
                <li data-target="#featured-content-carousel" data-slide-to="{{ loop.index0 }}"
                    {% if loop.index0 == 0 %}class='active'{% endif %}>
                </li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for item in featured_content %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-5 mx-auto my-auto carousel-image'>
                                <a class='d-block' href='{{ item.link }}'>
                                    {{ image(item.image, "height-300", class='d-block img-fluid float-right') }}
                                </a>
                            </div>
                            <div class='col-md-7 mx-auto my-auto carousel-text'>
                                <div class='carousel-caption my-auto'>
                                    <h3><a href='{{ item.link }}'>{{ item.title }}</a></h3>
                                    <p>
                                    {{ item.summary }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#featured-content-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#featured-content-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section class='community'>
    <h1>Our Community</h1>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                Oh, it's you, Ben. Sorry about that. What's on tap for today? Oh yeah, Mango Reinhardt, the thinking man's pop. Thank
                you, Ben. Ah-ah-ah, hold on, Ben, aren't you forgetting something? Come on, come on, what are you waiting for? Daddy
                needs his medicine. I'm sick, baby. I'm sick. Come on, baby. Daddy needs his feel-good juice. (scorpion stings him
                again) Ooh yeah, that's the stuff. That's what daddy needs, yeah, see, see, what it is, is we're all a community,
                and uh, when you're a community, and love enters into it....(falls asleep)
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <div class='row'>
                    <div class='col-9'>
                        <h3>Recent Forum Posts</h3>
                    </div>
                    <div class='col-3 text-right'>
                        <small><a class='text-right' href='{{ DISCOURSE_BASE_URL }}'>View Forum</a></small>
                    </div>
                </div>
                {% for post in recent_forum_activity %}
                    <div class='activity'>
                        <h4><a href='{{ post.url }}'>{{ post.title }}</a></h4>
                        <small class='text-muted'>Posted by {{ post.submitter }} - {{ post.date_created.strftime('%c') }}</small>
                    </div>
                {% endfor %}
            </div>
            <div class='col-1'>
            </div>
            <div class='col'>
                <div class='row'>
                    <div class='col-10'>
                        <h3>Latest Jobs &amp; Appointments</h3>
                    </div>
                    <div class='col-2 text-right'>
                        <small><a href='{{ url("home:job-list") }}'>View All</a></small>
                    </div>
                </div>
                {% for item in latest_jobs %}
                    <div class='activity'>
                        <h4><a href='{{ item.get_absolute_url() }}'>{{ item.title }}</a></h4>
                        <p>
                        <small class='text-muted'>
                            {{ item.summary }}
                        </small>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
{{ render_bundle("home") }}
{% endblock %}
