{% extends 'base.jinja' %}

{% from "common.jinja" import list_page, paginator, breadcrumb, submit_model_btn %}

{% block introduction %}<h1>Search Results</h1>{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb([{'text': 'Computational Model Library'}]) }}
    <div class="pb-1">
        {{ paginator('home:search', __all__) }}
    </div>
{% endblock %}

{% block content %}
    <form class="form-inline pb-2" action="/search/" method="get">
        <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            <input id="search" class="form-control" name="query" type="text" value="{{ query }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% for result in results %}
        <div class="card">
            <div class="card-header">{{ result.type.title() }} - <a href="{{ result.url }}">{{ result.title|default("Not available") }}</a></div>
            <div class="card-body">
                {{ result.description|default("No description available") }}
            </div>
        </div>
    {% else %}
        No matching results found
    {% endfor %}
{% endblock %}
