{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import list_page, paginator, breadcrumb, member_profile_href, search_tag_href %}

{% macro render_job(item, detail_url_name) %}
<div class="card">
    <div class='card-body'>
        <div class='row'>
            <div class='col-8'>
                <h3 class='title mb-0'><a href="{{ url(detail_url_name, pk=item.id) }}">{{ item.title }}</a></h3>
                <b class='title'>Application deadline</b> {{ item.application_deadline }}
            </div>
            <div class='col-4'>
                <small class="float-right">Last updated {{ item.last_modified }}</small>
                <br>
                <small class='float-right'>Submitted by {{ member_profile_href(item.submitter) }}
                </small>
            </div>
        </div>
        {% if item.summary %}
            <div class='row mt-2'>
                <div class='col'>
                    {{ item.summary|markdown }}
                </div>
            </div>
        {% endif %}
        {% if item.tags %}
            <div class="tag-list">
                {% for tag in item.tags %}
                    {{ search_tag_href(tag, category='jobs') }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% block title %}Jobs and Appointments {% endblock %}

{% block introduction %}<h1>Jobs &amp; Appointments </h1>{% endblock %}
{% block top %}
    {{ breadcrumb([
    {'url': '/community/', 'text': 'Community'},
    {'text': 'Jobs & Appointments' }
    ]) 
    }}
    {{ paginator('home:job-list', __all__) }}
    <div id="sortby"></div>
    <div id="app"></div>
{% endblock %}

{% block content %}
    {{ list_page(__all__, render_job, 'home:job-detail') }}
    {% if count == 0 %}
        <div class='mt-3 alert alert-primary'>
            Sorry, there's nothing to see here. The robots have taken all our jobs.
        </div>
    {% endif %}
    {{ paginator('home:job-list', __all__) }}
{% endblock %}

{% block sidebar %}
    <div id="sidebar"></div>
{% endblock %}

{% block js %}
    {{ render_bundle('job_list', attrs='defer') }}
{% endblock %}
