{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import permission_button_group, breadcrumb, embed_discourse_comments, share_card, member_profile_href %}

{% block title %}{{ title }}{% endblock %}

{% block introduction %}
    <h1>Job Postings</h1>
{% endblock %}
{% block top %}
    {{ breadcrumb([
    {'url': url('home:job-list'), 'text': 'Jobs & Appointments' },
    {'text': title }
    ]) }}
{% endblock %}

{% block content %}
    <div id="discourse-content">
        <h1>{{ title }}</h1>
        {{ description|markdown }}
    </div>
    <div class="btn-group">
        {% if has_change_perm %}
            <a type="button" class="btn btn-primary btn-sm" href="{{ url('home:job-update', pk=id) }}">Edit</a>
        {% endif %}
        {% if has_delete_perm %}
            <a type="button" class="btn btn-danger btn-sm" href="{{ url('home:job-detail', pk=id) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card-metadata">
        <div class="card-body">
            <div class='section'>
                <b class="card-title">Submitter</b>
                <p class='card-text'> {{ member_profile_href(submitter) }}</p>
                <b class="card-title">Last Updated</b>
                <p class="card-text">{{ last_modified }}</p>
            </div>
        </div>
    </div>
    {{ share_card(absolute_url) }}
{% endblock %}

{% block bottom %}
    <div class="col-12">
        <h4>Comments</h4>
        <div id="discourse-comments"></div>
    </div>
{% endblock %}

{% block js %}
    {{ embed_discourse_comments(true) }}
{% endblock %}
