/* base template stylesheet (navbar, footer, etc.) */

.page {
  padding-top: $default-padding;
  padding-bottom: $default-padding;
}

.logo {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-image: url("@/assets/images/comses-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 181px 70px;
  display: inline-block;
  height: 70px !important;
  width: 181px !important;
}

.introduction {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3),
    inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 85px;
  background: url("../assets/images/background-introduction-200.png") no repeat center center;
  background-size: cover;
  text-align: left;
  vertical-align: middle;
  height: 125px;
  /*
   Move introduction below header
   We could polyfill position:sticky for Chrome instead
   */

  h1,
  h2,
  h3,
  h4 {
    padding-top: 45px;
    font-family: "Alte-DIN-1451-Mittelschrift", "Open Sans", sans-serif;
    color: $white;
    font-weight: 200;
  }

  a {
    padding: 20px;
  }
}

.navbar {
  background-color: white;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  
  .nav-link {
    color: grey !important;
  }

}

.navbar-brand {
  padding-left: 0.01rem; 
}

.navbar .container {
  padding-left: 1rem;
  padding-right: 1rem;
}



.landing-page-introduction {
  min-height: 70vh; 
  padding-bottom: 40px; 
  background: url("../assets/images/background-introduction.png") repeat top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 !important;
  padding-top: 2rem !important;
  margin-top: 40px;
  
  
}


.landing-page-introduction h1, 
.landing-page-introduction p {
  color: white;
}


html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}