{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block header %}
    <h1>A growing collection of resources for model-based science</h1>

    <br>
    <p class="text-uppercase">A model library, tutorials and FAQ's on agent-based modeling</p>

    <br>
    <div>
        <button type="button" class="btn btn-primary btn-lg">View model library</button>
        <button type="button" class="btn btn-primary btn-lg">Our community</button>
    </div>
{% endblock %}



{% block content %}
    <section class="row">
        <div class="col-md-12">
            <p>
                The OpenABM Consortium is a group of researchers, educators and professionals with a common goal -
                improving
                the way we develop, share and utilize agent based models.
            </p>
        </div>
    </section>
    <section class="row">
        <div class="col-md-4">
            <h3>Search Model Library</h3>
            <p>Search our comprehensive database of agent based models relating to the fields you're interested in</p>
        </div>
        <div class="col-md-4">
            <h3>Submit a Model</h3>
            <p>Follow our comprehensive guided flow for model submission. The best practices in archiving.</p>
        </div>
        <div class="col-md-4">
            <h3>Upcoming Events</h3>
            <p>See the latest upcoming events in the community</p>
        </div>
    </section>
    <section class="row">
        <div class="col-md-12">
            <h2>Featured content</h2>
            <!-- Carousel goes here -->
        </div>
    </section>
    <section class="row">
        <div class="col-md-6">
            <h3>Recent Model Activity</h3>
            <!-- Recent activity template goes here -->
        </div>
        <div class="col-md-6">
            <h3>Latest Jobs & Appointments</h3>
            <!-- Latest jobs & Appointents template goes here -->
        </div>
    </section>
    <section class="row">
        <div class="col-md-12">
            <h2>
                In the Community
            </h2>
        </div>

        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/bundle.js' %}"></script>
{% endblock %}
