{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block header %}
    <h1>A growing collection of resources for model-based science</h1>

    <br>
    <p class="text-uppercase">A model library, tutorials and FAQ's on agent-based modeling</p>

    <br>
    <div>
        <button type="button" class="btn btn-primary btn-lg">View model library</button>
        <button type="button" class="btn btn-primary btn-lg">Our community</button>
    </div>
{% endblock %}



{% block content %}
    <p>
        The OpenABM Consortium is a group of researchers, educators and professionals with a common goal - improving
        the way we develop, share and utilize agent based models.
    </p>
{% endblock %}
