wagtail==1.8
wagtailmenus==2.0.3
django-extensions==1.7.5
djangorestframework-jsonapi==2.1.1
django-rest-swagger==2.1.1
django-reversion==2.0.8
django-markupfield==1.4.1
psycopg2==2.6.2
django-webpack-loader

pygit2==0.24.2
django-location-field==1.6.1
django-model-utils==2.6
django-timezone-field==2.0
bagit==1.5.4
semver==2.7.4
# need to skip dependency checking, scandir fails pip3 install in the container
# hashfs==0.7.0
djangorestframework-jwt==1.9.0
# CoMSES citation app
-e git+https://github.com/comses/citation.git#egg=citation
