{% extends "base.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator, breadcrumb, subnav, member_profile_href %}

{% block title %}Welcome to the CoMSES Net Community{% endblock %}

{% block introduction %}<h1>Community</h1>{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb([
    {'url': '/community/', 'text': 'Community'},
    {'url': url("home:profile-list"), 'text': 'Users'},
    ])
    }}
    {{ subnav([
    { 'url': '/community/', 'text': 'Community' },
    { 'url': DISCOURSE_BASE_URL, 'text': 'Forum' },
    { 'url': url("home:profile-list"), 'text': 'Users', 'active': True },
    { 'url': url("home:job-list"), 'text': 'Jobs' },
    ])
    }}
{% endblock %}

{% macro render_user(member_profile, detail_url_name) %}
    <div class="search-result">
        <div class="date-info">
            <small class="text-muted pull-right">Joined on: {{ member_profile.date_joined }}</small>
        </div>
        <div class="title">
            <h1>{{ member_profile_href(member_profile) }}</h1>
        </div>
        {% if member_profile.tags %}
            <div class="tag-list">
                {% for tag in member_profile.tags %}
                    <span class="badge badge-primary p-1">{{ tag.name }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    {{ list_page(__all__, render_user, 'home:profile-detail') }}
    <div class='row'>
        <div class="col">
            {{ paginator('home:profile-list', __all__) }}
        </div>
    </div>
{% endblock %}
