{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import breadcrumb, subnav, institution_href, search_tag_btn %}
{% from "library/codebases/macros.jinja" import render_codebase_result %}t

{% block title %}User profile for {{ full_name }}{% endblock %}

{% block introduction %}<h1>{{ full_name }}</h1>{% endblock %}

{% block top %}
    {{ breadcrumb([
    { 'url': '/community/', 'text': 'Community' },
    { 'url': url("home:profile-list"), 'text': 'Users'},
    { 'text': full_name}
    ]) }}

    {{ subnav([
    { 'url': '/community/', 'text': 'Community' },
    { 'url': DISCOURSE_BASE_URL, 'text': 'Forum' },
    { 'url': url("home:profile-list"), 'text': 'Users', 'active': True },
    { 'url': url("home:job-list"), 'text': 'Jobs' },
    ]) }}
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-3'>
            <div class='d-block mt-4'>
                {% if avatar is none %}
                    <img src="holder.js/150x150?text=No picture available"
                         class="img-fluid mx-auto d-block rounded-circle">
                {% else %}
                    {{ image(avatar, "fill-150x150", class="img-fluid img-thumbnail mx-auto d-block rounded-circle") }}
                {% endif %}
            </div>
        </div>
        <div class='col-9'>
            <div class='profile-details'>
                <div class='card-block'>
                    <h4 class='card-title'>{{ full_name }}</h4>
                    {% for degree in degrees %}
                        <p class='card-text'>{{ degree }}</p>
                    {% else %}
                        <p class='card-text'>No degrees listed.</p>
                    {% endfor %}
                    {% for affiliation in affiliations %}
                        <p class='card-text'>{{ affiliation }}</p>
                    {% endfor %}
                    <p class='card-text'>{{ bio }}</p>
                    <dl class='row card-text'>
                        <dt class='col-sm-2'>Institution</dt>
                        <dd class='col-sm-9'>{{ institution_href(institution) }}</dd>

                        <dt class='col-sm-2'>Personal</dt>
                        <dd class='col-sm-9'>
                            {% if personal_url %}
                                <a href='{{ personal_url }}' target='_blank'>{{ personal_url }}</a>
                            {% endif %}
                        </dd>

                        <dt class='col-sm-2'>Professional</dt>
                        <dd class='col-sm-9'>
                            {% if professional_url %}
                                <a href='{{ professional_url }}' target='_blank'>{{ professional_url }}</a>
                            {% endif %}
                        </dd>

                        <dt class='col-sm-2'>ORCID</dt>
                        <dd class='col-sm-9'>
                            {% if orcid %}
                                <a href='{{ orcid_url }}' target='_blank'>ORCID: {{ orcid }}</a>
                            {% else %}
                                None entered
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <ul class='nav nav-tabs detail-tabs' role='tablist'>
        <li class='nav-item'>
            <a class='nav-link active' data-toggle='tab' href='#bio' role='tab'>Bio</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#code' role='tab'>Models</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#publications' role='tab'>Publications</a>
        </li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active' id='bio' role='tabpanel'>
            {% if bio %}
                <h2 class='m-0 py-3 title'>Bio</h2>
                <p>
                    {{ bio|markdown }}
                </p>
            {% endif %}
            {% if research_interests %}
                <h2 class='m-0 py-3 title'>Research Interests</h2>
                <p>
                    {{ research_interests }}
                </p>
            {% endif %}
            {% if not bio and not research_interests %}
                <p class='lead p-5'>
                    No bio entered.
                </p>
            {% endif %}

        </div>
        <div class='tab-pane' id='code' role='tabpanel'>
            {# FIXME: use codebase list component #}
            {% for codebase in codebases %}
                {{ render_codebase_result(codebase, 'library:codebase-detail') }}
            {% else %}
                <p class='lead p-5'>
                    No associated codebases.
                </p>
            {% endfor %}
        </div>
        <div class='tab-pane' id='publications' role='tabpanel'>
            <p class='lead p-5'>
                Under construction, check back later!
            </p>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {# FIXME: set up Vue logic for message / follow #}
    <div class='card-metadata'>
        <div class='card-block'>
            {% if has_change_perm %}
                <p class='card-text'>
                    <a href="{{ url('home:profile-update', username=username) }}" class='btn btn-primary w-100'>Edit
                        Profile</a>
                </p>
            {% endif %}
            <p class='card-text'>
                <a href='#' onclick='sendMessage()' class='btn btn-primary w-100'>Send Message</a>
            </p>
            <p class='card-text'>
                <a href='#' onclick='toggleFollow()' class='btn btn-primary w-100'>Follow</a>
            </p>
            <div class='row'>
                {# FIXME: hardcoded values for now #}
                <div class='col text-center'>
                    <div><b>{{ following_count }}</b></div>
                    <div>
                        <small>Following</small>
                    </div>
                </div>
                <div class='col text-center'>
                    <div><b>{{ follower_count }}</b></div>
                    <div>
                        <small>Followers</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='card-metadata'>
        <div class='card-block'>
            <h2 class='card-title'>Areas of Interest</h2>
            <p class='card-text tag-list'>
                {% for keyword in keywords %}
                    {{ search_tag_btn(keyword) }}
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
