{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav %}

{% block extra_css %}
    {{ super() }}
    <style type="text/css">
        {# FIXME: consider moving to frontend css #}
        .list-group {
            font-family: arial, verdana;
            font-size: 1.2em;
        }

        .list-group-item {
            padding: 1rem;
            margin-top: 1rem;
            position: relative;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            border: black solid 0.15rem;
            {#line-height: 125%;#}
        }

        a {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block introduction %}
    <h1>CoMSES Virtual Conferences</h1>
{% endblock %}
{% block content %}
    {{ breadcrumb(page.get_breadcrumbs())}}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1>CoMSES Virtual Conferences</h1>
        <p class='pt-4 lead'>
        CoMSES Net hosted its inaugural virtual conference in 2017 to provide an interactive venue for the computational
        modeling community with video presentations and feedback provided in an asynchronous format
        via our <a href='https://www.discourse.org/'>Discourse</a> <a target='_blank' href='{{ DISCOURSE_BASE_URL }}'>forums</a>.
        </p>
    </div>
    <a class='btn btn-primary' href='{{ page.get_children().live().last().url }}'>Join the latest conference</a>
    <br/>
    <br/>
    <h2>Past Conferences</h2>
    <ul class='list-group'>
        {% for conference in page.conferences() %}
            <a href='{{ conference.url }}'>
            <li class='list-group-item list-group-item-action'>
                    <h5 class="conference-title">{{conference.title }}</h5>
                    <span class="conference-body">{{ format_datetime(conference.start_date) }} &mdash; {{ format_datetime(conference.end_date) }}</span>
            </li>
            </a>
            <br/>
        {% endfor %}
    </ul>
{% endblock %}
