@use '../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

.multiselect__tags {
  border-radius: 0;
}

.multiselect--above .multiselect__content-wrapper {
  z-index: 3;
}

.multiselect__option {
  white-space: normal;
}

.single__tag {
  @extend .multiselect__tag;
  background: $white;
  color: #495047;
  display: block;
  border-radius: 0px;
  padding-left: 4px;
  font-size: 1rem;
}

.single__remove {
  @extend .multiselect__tag-icon;
}

.single__remove:hover {
  background: $red;
}

.multiselect__clear {
  position: absolute;
  right: 50px;
  top: -10px;
  display: block;
  cursor: pointer;
  z-index: 3;
  color: #a5a5a5;
  font-size: 40px;
}

.multiselect__clear:hover {
  color: #495047;
}

.child-is-invalid {
  .multiselect__tags {
    border-color: $form-feedback-invalid-color;
  }

  .invalid-feedback {
    display: block;
  }
}