// Border Radius Override
$enable-rounded: false;

// // Font Size Overrides
$h1-font-size: 1.8rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1.0rem;