{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav, submit_model_btn, search_tag_href %}

{% block title %}{{ page.title }}{% endblock %}

{% block introduction %}<h1>About</h1>{% endblock %}

{% block content %}
    {{ breadcrumb(page.get_breadcrumbs()) }}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1 class='display-5'>{{ page.title }}</h1>
        <div class='pt-4 lead'>
            {{ page.description|markdown }}
        </div>
    </div>
    {% for category, group_list in page.people_entry_placements.all()|sort(attribute='category')|groupby('category') %}
        <div id='{{ category }}' class='pt-3 people {{ category }}'>
            <h2 class='people'>{{ get_choices_display(category, people_categories) }}</h2>
            {% for placement in group_list %}
                <div class='card'>
                    <div class='card-body row'>
                        <div class='col-3'>
                            <div class='text-center card-title'>
                                <h3 class='title'>
                                    <a href='{{ placement.member_profile.get_absolute_url()}}'>
                                        {{ placement.member_profile.user.get_full_name() }}
                                    </a>
                                </h3>
                            </div>
                            <div class='d-block'>
                                <a href='{{ placement.member_profile.get_absolute_url()}}'>
                                    {% if placement.member_profile.picture is none %}
                                        <img src="holder.js/150x150?text=No picture available" class="img-fluid mx-auto d-block rounded">
                                    {% else %}
                                        {{ image(placement.member_profile.picture, "fill-150x150", class="rounded mx-auto img-fluid d-block") }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class='col-9'>
                            {{ placement.member_profile.bio|markdown }}
                            {{ placement.member_profile.research_interests|markdown }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}
