{% extends "base.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator, breadcrumb, subnav %}

{% macro search_component() %}
    <form class="form-group row" action="{{ url('home:job-list') }}" method="get"
          enctype="application/x-www-form-urlencoded">
        <div class="col-xs-12 col-sm-9">
            <input type="text" class="form-control" name="query" placeholder="Search" value="{{ query or '' }}">
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary">Search</button>
            <a href="{{ url('home:event-create') }}" class="btn btn-primary btn float-md-right mt-xs-1">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </form>
{% endmacro %}

{% block title %}Community Events{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}

{% block content %}
    {{ breadcrumb([{'text': 'Community Events' }]) }}
    {{ subnav([ 
    {'text': 'Calendar View', 'url': url('home:events-calendar')},
    {'text': 'List View', 'active': True},
    ])
    }}

    <div class='row p-3'>
        <div id="app"></div>
    </div>
    {{ list_page(__all__, item_component, 'home:event-detail') }}


    <div class='row'>
        <div class="col">
            {{ paginator('home:event-list', __all__) }}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ render_bundle('event_list') }}
{% endblock %}
