{% extends "base.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator, breadcrumb, subnav %}

{% macro render_event(event, detail_url) %}
{# FIXME: add event start / end dates #}
{% endmacro %}

{% block title %}Community Events{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}

{% block content %}
    {{ breadcrumb([{'text': 'Community Events' }]) }}
    {{ subnav([ 
    {'text': 'Calendar View', 'url': url('home:events-calendar')},
    {'text': 'List View', 'url': url('home:event-list'), 'active': True},
    ])
    }}

    <div class='row p-3'>
        <div id="app"></div>
    </div>
    {{ list_page(__all__, item_component, 'home:event-detail') }}
    <div class='row'>
        <div class="col">
            {{ paginator('home:event-list', __all__) }}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ render_bundle('event_list') }}
{% endblock %}
