{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import breadcrumb, discourse_embed_script %}

{% block title %}Event: {{ title }}{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}

{% block top %}
    {{ breadcrumb([
    {'url': url('home:event-list'), 'text': 'Events' },
    {'text': title }
    ]) }}
{% endblock %}

{% block content %}
    <div id='discourse-content'>
        <h1>{{ title }}</h1>
        {{ description|markdown }}
    </div>
    <div class="btn-group">
        {% if has_change_perm %}
            <a type="button" class="btn btn-primary btn-sm" href="{{ url('home:event-update', pk=id) }}">Edit</a>
        {% endif %}
        {% if has_delete_perm %}
            <a type="button" class="btn btn-danger btn-sm" href="{{ url('home:event-detail', pk=id) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card-metadata">
        <div class="card-block">
            <small>
                <b class="card-title">Contact</b>
                <p class="card-text"><a href="{{ submitter.profile_url }}">{{ submitter.full_name }}</a></p>
                <b class="card-title">Date Published</b>
                <p class="card-text">{{ date_created }}</p>
                <b class="card-title">Last Updated</b>
                <p class="card-text">{{ last_modified }}</p>
                <b class="card-title">Location</b>
                <br>

                <b class="card-title">Early Registration Deadline</b>
                <p class="card-text">{{ early_registration_deadline }}</p>

                <b class="card-title">Submission Deadline</b>
                <p class="card-text">{{ submission_deadline }}</p>

                <b class="card-title">Start Date</b>
                <p class="card-text">{{ start_date }}</p>

                <b class="card-title">End Date</b>
                <p class="card-text">{{ end_date }}</p>

                <b class="card-title">Status</b>
            </small>
        </div>
    </div>
    <div class="card-metadata">
        <div class="card-block">
            <b>Share</b>
            <span class="col-2 fa fa-linkedin-square"></span>
            <span class="col-2 fa fa-facebook-square"></span>
            <span class="col-2 fa fa-twitter-square"></span>
            <span class="col-2 fa fa-envelope-square"></span>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    <div class="col-12">
        <div id="discourse-comments"></div>
    </div>
{% endblock %}

{% block js %}
    {{ discourse_embed_script() }}
{% endblock %}
