{% extends "base.jinja" %}
{% from "common.jinja" import retrieve_introduction %}

{% block title %}Event: {{ title }}{% endblock %}

{% block introduction %}{{ retrieve_introduction("Event: " + title) }}{% endblock %}

{% block content %}
    <h6 class="text-right">{{ date_created }}</h6>
    {{ markdown(description)|safe }}
    <div class="btn-group">
        {% if has_change_perm %}
            <a type="button" class="btn btn-primary btn-sm" href="{{ url('home:event-update', pk=id) }}">Edit</a>
        {% endif %}
        {% if has_delete_perm %}
            <a type="button" class="btn btn-danger btn-sm" href="{{ url('home:event-detail', pk=id) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}