{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n %}
{% block titletag %}{% trans "Dashboard" %}{% endblock %}
{% block bodyclass %}homepage{% endblock %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <header class="merged nice-padding">
        <div class="row row-flush">
            <div class="col9">
                <h2>{% block branding_welcome %}{% blocktrans %}{{ site_name }} Dashboard {% endblocktrans %}{% endblock %}</h2>
                <div class="user-name">{{ user|user_display_name }}</div>
            </div>
        </div>
    </header>

    {% if panels %}
        {% for panel in panels %}
            {% component panel fallback_render_method=True %}
        {% endfor %}
    {% else %}
        No panels found. This is probably an error.
    {% endif %}
{% endblock %}
