{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator, breadcrumb, subnav, member_profile_href, search_tag_href %}

{% macro render_user(member_profile, detail_url_name) %}
<div class="search-result">
    <div class="title">
        <h1>
            {% call member_profile_href(member_profile) %}
            {% if member_profile.avatar is not none %}
                <span class='float-left'>
                    {{ image(member_profile.avatar, "fill-50x50", width=50, height=50, class="img-fluid img-thumbnail d-block rounded-circle") }}
                </span>
            {% endif %}
            {% endcall %}
            <small class="text-muted float-right">
                Member since: {{ member_profile.date_joined }}
                {% if member_profile.full_member %}
                    <span class="badge badge-primary">Full Member</span>
                {% endif %}
                {% if member_profile.is_reviewer %}
                    <span class="badge badge-success">Reviewer</i>
                {% endif %}
            </small>
        </h1>
        {% if member_profile.degrees %}
            <div style='margin-top: -10px;' class='degrees mb-1'>
                <small>{{ member_profile.degrees|join(", ") }}</small>
            </div>
        {% endif %}
        {% if member_profile.bio %}
            <div class='bio'>
                {{ member_profile.bio|markdown }}
            </div>
        {%endif %}
        {% if member_profile.research_interests %}
            <div class='research-interests'>
                {{ member_profile.research_interests|markdown }}
            </div>
        {% endif %}
    </div>
    {% if member_profile.tags %}
        <div class="tag-list">
        {% for tag in member_profile.tags %}
            {{ search_tag_href(tag, category='users') }}
        {% endfor %}
        </div>
    {% endif %}
</div>
{% endmacro %}

{% block title %}Welcome to the CoMSES Net Community{% endblock %}

{% block introduction %}<h1>Community</h1>{% endblock %}

{% block top %}
    {{ breadcrumb([
    {'url': '/community/', 'text': 'Community'},
    {'url': url("home:profile-list"), 'text': 'Users'},
    ])
    }}
    {{ subnav([
    {'url': '/community/', 'text': 'Community' },
    {'url': DISCOURSE_BASE_URL, 'text': 'Forum' },
    {'url': url("home:profile-list"), 'text': 'Users', 'active': True },
    {'url': url("home:job-list"), 'text': 'Jobs' },
    {'url': url("home:digest"), 'text': 'Newsletter'},
    ])
    }}
    {{ paginator('home:profile-list', __all__) }}
    <div id="sortby"></div>
{% endblock %}

{% block content %}
    {{ list_page(__all__, render_user, 'home:profile-detail') }}
{% endblock %}

{% block sidebar %}
    {# FIXME: look into better ways to pass data from Django -> Vue. may also need to check full member status #}
    <div id="sidebar" data-is-authenticated="{{ user.is_authenticated }}"></div>
{% endblock %}

{% block bottom %}
    <div class="col">
        {{ paginator('home:profile-list', __all__) }}
    </div>
{% endblock %}

{% block js %}
    {{ render_bundle('profile_list') }}
{% endblock %}
