{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import breadcrumb, subnav, institution_href, search_tag_btn, render_social_profile_url %}
{% from "library/codebases/macros.jinja" import render_codebase_result %}

{% block title %}User profile for {{ full_name }}{% endblock %}

{% block introduction %}<h1>{{ full_name }}</h1>{% endblock %}

{% block top %}
    {{ breadcrumb([
    { 'url': '/community/', 'text': 'Community' },
    { 'url': url("home:profile-list"), 'text': 'Users'},
    { 'text': full_name}
    ]) }}

    {{ subnav([
    { 'url': '/community/', 'text': 'Community' },
    { 'url': DISCOURSE_BASE_URL, 'text': 'Forum' },
    { 'url': url("home:profile-list"), 'text': 'Users', 'active': True },
    { 'url': url("home:job-list"), 'text': 'Jobs' },
    ]) }}
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-3'>
            <div class='mt-5'>
                {% if avatar is none %}
                    <img src="holder.js/150x150?text=No picture available"
                         class="img-fluid mx-auto d-block rounded">
                {% else %}
                    {{ image(avatar, "fill-150x150", width=150, height=150, class="img-fluid img-thumbnail mx-auto d-block rounded") }}
                {% endif %}
            </div>
        </div>
        <div class='col-9'>
            <div class='card profile-details'>
                <div class='card-body'>
                    <h4 class='card-title'>{{ full_name }}</h4>
                    {% for degree in degrees %}
                        <p class='card-text'>{{ degree }}</p>
                    {% endfor %}
                    {% for affiliation in affiliations %}
                        <p class='card-text'>{{ affiliation }}</p>
                    {% endfor %}
                    {% if institution %}
                        <b class='card-title'>Institution</b>
                        <p class='card-text'>
                        {{ institution_href(institution) }}
                        </p>
                    {% endif %}
                    {% if personal_url %}
                        <b class='card-title'>Personal homepage</b>
                        <p class='card-text'>
                        <a href='{{ personal_url }}' target='_blank'>{{ personal_url }}</a>
                        </p>
                    {% endif %}
                    {% if professional_url %}
                        <b class='card-title'>Professional homepage</b>
                        <p class='card-text'>
                        <a href='{{ professional_url }}' target='_blank'>{{ professional_url }}</a>
                        </p>
                    {% endif %}
                    <b class='card-title'>ORCID <sup><a target='_blank' href='https://orcid.org'>?</a></sup></b>
                    <p class='card-text'>
                    {{ render_social_profile_url('orcid', orcid_url, connect=request.user.username == username) }}
                    </p>
                    <b class='card-title'>GitHub<sup><a target='_blank' href='https://github.com'>?</a></sup></b>
                    <p class='card-text'>{{ render_social_profile_url('github', github_url, connect=request.user.username == username) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul class='nav nav-tabs detail-tabs' role='tablist'>
        <li class='nav-item'>
            <a class='nav-link active' data-toggle='tab' href='#bio' role='tab'>Bio</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#code' role='tab'>Models</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#publications' role='tab'>Publications</a>
        </li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active' id='bio' role='tabpanel'>
            {% if bio %}
                <h3 class='m-0 py-3 title'>Bio</h3>
                <p>
                    {{ bio|markdown }}
                </p>
            {% endif %}
            {% if research_interests %}
                <h3 class='m-0 py-3 title'>Research Interests</h3>
                <p>
                    {{ research_interests|markdown }}
                </p>
            {% endif %}
            {% if not bio and not research_interests %}
                <p class='lead p-5'>
                    No bio entered.
                </p>
            {% endif %}

        </div>
        <div class='tab-pane' id='code' role='tabpanel'>
            {# FIXME: use codebase list component #}
            {% for codebase in codebases %}
                {{ render_codebase_result(codebase, 'library:codebase-detail') }}
            {% else %}
                <p class='lead p-5'>
                    No associated codebases.
                </p>
            {% endfor %}
        </div>
        <div class='tab-pane' id='publications' role='tabpanel'>
            <p class='lead p-5'>
                Coming soon.
            </p>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {# FIXME: set up JS logic for message / follow #}
    <div class='card-metadata'>
        <div class='card-body'>

            {% if has_change_perm %}
                <p class='card-text'>
                <a href="{{ url('home:profile-edit', user__pk=user_pk) }}" class='btn btn-primary w-100'>
                    Edit Profile</a>
                </p>
            {% endif %}
            {% if email and request.user.username != username %}
                <p class='card-text'>
                    <a class='btn btn-primary w-100' href="mailto:{{ email }}">Send Message</a>
                </p>
                {#
                <p class='card-text'>
                    <a href='#' onclick='toggleFollow()' class='btn btn-primary w-100'>Follow</a>
                </p>
                #}
            {% endif %}
            {#
            <div class='row'>
                <div class='col text-center'>
                    <div><b>{{ following_count }}</b></div>
                    <div>
                        <small>Following</small>
                    </div>
                </div>
                <div class='col text-center'>
                    <div><b>{{ follower_count }}</b></div>
                    <div>
                        <small>Followers</small>
                    </div>
                </div>
            </div>
            #}
            <h2 class='card-title'>Research Interests</h2>
            <p class='card-text tag-list'>
                {% for keyword in tags %}
                    <small>{{ search_tag_btn(keyword, category='users') }}</small>
                {% else %}
                    none selected
                {% endfor %}
            </p>
            <h2 class='card-title'>
                Membership Status
            </h2>
            <p class="card-text">
                {% if full_member %}
                    <i class="text-success">Full Member</i>
                {% else %}
                    <i class="text-secondary">Basic Member</i>
                {% endif %}
            </p>
            <p class="card-text"></p>
                {% if is_reviewer %}
                    <i class="text-success">Reviewer</i>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
