<div class='alert alert-warning alert-dismissable fade show fixed-bottom' id="CookielawBanner">
    <div class='row'>
        <div class='col-11'>
            This website uses cookies and Google Analytics to help us track user engagement and improve our site. If
            you'd like to know more information about what data we collect and why, please see <a
            href="/about/data-privacy/">our data privacy policy</a>.
        </div>
        <div class='col-1'>
            <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">Accept</a>
        </div>
    </div>
</div>
