<div class='alert alert-warning alert-dismissable fade show fixed-bottom' id="CookielawBanner">
    <span>This website uses cookies and Google Analytics to ensure you get the best experience on our website.
        Please see <a href="/about/general-data-protection-agreement/">here</a> for our data protection policy.</span>
    <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">Okay</a>
</div>