.custom-tooltip {
  --bs-tooltip-bg: var(--bs-body-bg);
  --bs-tooltip-color: var(--bs-body-color);
  --bs-tooltip-max-width: 20rem;
  --bs-tooltip-opacity: 1;
  .tooltip-inner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
