{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav, submit_model_btn, search_tag_href %}

{% block title %}{{ page.title }}{% endblock %}

{% block introduction %}<h1>Resources</h1>{% endblock %}

{% block content %}
    {# FIXME: move these to db #}
    {{ breadcrumb(page.get_breadcrumbs()) }}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1 class='display-5'>{{ page.title }}</h1>
        <div class='pt-4 lead'>
            {{ page.description|markdown }}
        </div>
    </div>
    {% for p in platforms %}
        <h3><a target='_blank' href='{{ p.platform.url }}'>{{ p.platform.name }}</a>
            {% if p.platform.active %}
                <span class='badge badge-success'>active</span>
            {% else %}
                <span class='badge badge-warning'>inactive</span>
            {% endif %}
            {% if p.platform.open_source %}
                <span class='badge badge-primary'><i class='fas fa-code-branch'></i></span>
            {% endif %}
        </h3>
        <div class='description'>
            {% autoescape off %}{{ p.platform.description.rendered }}{% endautoescape %}
        </div>
        <div class='tag-list'>
            {% for tag in p.platform.tags.all() %}
                {{ search_tag_href(tag) }}
            {% endfor %}
        </div>
        <hr/>
    {% endfor %}
{% endblock %}
