{% extends "base.jinja" %}
{% from "common.jinja" import subnav %}

{% block title %}CoMSES Net Community Resources{% endblock %}

{% block introduction %}
    <h1>Community Resources</h1>
{% endblock %}

{% block content %}
{{ subnav([
{ 'url': '/resources/', 'text': 'Community Resources', 'active': True },
{ 'url': 'modeling-platforms/', 'text': 'Modeling Platforms' },
{ 'url': 'journals/', 'text': 'Modeling Journals' },
{ 'url': 'standards/', 'text': 'Standards and Guides to Good Practice' },
])
}}
<div class='jumbotron'>
    <h1 class='display-5'>Community Resources for Computational Modeling</h1>
    <p class='lead'>
    {{ page.summary|markdown }}
    </p> 
</div>
<section class='callouts'>
    <div class='row'>
        <div class='col'>
            <a href='modeling-platforms'>
                <img class='img-fluid' src='{{ static("images/icons/modeling-platforms.png") }}' alt='Modeling platforms'>
                <h3>Modeling Platforms</h3>
            </a>
            <div class='caption'>
                Preserve the complete digital pipeline used to derive a publishable finding. Other researchers will be able to
                discover, cite, and run your code in a reproducible containerized environment.
            </div>
        </div>
        <div class='col'>
            <a href='journals'>
                <img class='img-fluid' src='{{ static("images/icons/journals.png") }}' alt='Scholarly Journals'>
                <h3>Scholarly Journals</h3>
            </a>
            <div class='caption'>
                A community curated list of scholarly journals covering a wide range methodological and theoretical
                concerns related to agent-based modeling and other types of computational modeling. 
            </div>
        </div>
        <div class='col'>
            <a href='standards'>
                <img class='img-fluid' src='{{ static("images/icons/standards.png") }}' alt='Documentation Standards'>
                <h3>Documentation Standards</h3>
            </a>
            <div class='caption'>
                Advancing the use of agent-based models in scholarly research demands rigorous standards in model and
                experiment documentation. Volker Grimm et al. have developed a protocol for describing agent-based and
                individual-based models called ODD (Overview, Design Concepts, Details) &quot;designed to ensure that such
                descriptions are readable and complete.&quot;
            </div>
        </div>
    </div>
    <div class='row pt-5'>
        <div class='col'>
            <a href='educational-materials'>
                <img class='img-fluid' src='{{ static("images/icons/educational-materials.png") }}' alt='Educational materials'>
                <h3>Educational Materials</h3>
            </a>
            <div class='caption'>
                Tutorials on agent-based modeling, classroom and course materials that cover various modeling platforms
                from RePast to NetLogo, and a FAQ.
            </div>
        </div>
        <div class='col'>
            <a href='guides'>
                <img class='img-fluid' src='{{ static("images/icons/guides-to-good-practice.png") }}' alt='Guides to Good Practice'>
                <h3>Guides to Good Practice</h3>
            </a>
            <div class='caption'>
                Good Enough Practices for Agent Based Modeling as inspired by
                <a href='https://swcarpentry.github.io/good-enough-practices-in-scientific-computing/'>this Software Carpentry paper</a>.
            </div>
        </div>
        <div class='col'>
            <a href='{{ url("home:event-list") }}'>
                <img class='img-fluid' src='{{ static("images/icons/events.png") }}' alt='Upcoming Events'>
                <h3>Upcoming Events</h3>
            </a>
            <div class='caption'>
                Upcoming conferences, workshops, and other events curated by the CoMSES Net Community
            </div>
        </div>
    </div>

</section>
{% endblock %}
