{% extends 'base.jinja' %}

{% block introduction %}<h1>Edit Profile</h1>{% endblock %}

{% block content %}
<div class="modal" tabindex="-1" role="dialog" id="membership-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CoMSES Net Membership</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {% include 'includes/membership.jinja' %}
            </div>
        </div>
    </div>
</div>
<div id="profile-form" data-user-id="{{ object.user.id }}"
    data-connections-url="{{ url('socialaccount_connections') }}"></div>
{% endblock %}

{% block js %}
{{ vite_asset('apps/profile_edit.ts') }}
{% endblock %}