{% extends 'base.jinja' %}

{% block introduction %}<h1>Edit Profile</h1>{% endblock %}

{% block content %}
    <div class="modal" tabindex="-1" role="dialog" id="rightsAndResponsibilities">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CoMSES Net Membership</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fas fa-times"></span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'includes/membership.jinja' %}
            </div>
        </div>
    </div>
    <div id="app" data-user-pk="{{ object.user.id }}" data-connections-url="{{ url('socialaccount_connections') }}"></div>
{% endblock %}

{% block js %}
{{ render_bundle('profiles', attrs='defer') }}
{% endblock %}
