{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import breadcrumb, subnav, affiliation_href, search_tag_btn, render_social_profile_url %}
{% from "library/codebases/macros.jinja" import render_codebase_result, render_reviewer_feedback %}

{% block title %}User profile for {{ profile.name }}{% endblock %}

{% block introduction %}<h1>{{ profile.name }}</h1>{% endblock %}

{% block top %}
    {{ breadcrumb([
    { 'url': '/community/', 'text': 'Community' },
    { 'url': profile.get_list_url(), 'text': 'Users'},
    { 'text': profile.name}
    ]) }}
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-3'>
            <div class='mt-5'>
                {% if profile.avatar_url is none %}
                    <img alt='No picture available' src="holder.js/150x150?text={{'No picture available'|urlencode}}"
                         class="img-fluid mx-auto d-block rounded">
                {% else %}
                    {{ image(profile.picture, "fill-150x150", width=150, height=150, class="img-fluid img-thumbnail mx-auto d-block rounded") }}
                {% endif %}
            </div>
        </div>
        <div class='col-9'>
            <div class='card profile-details'>
                <div class='card-body'>
                    <h4 class='card-title'>{{ profile.name }}</h4>
                    {% for degree in degrees %}
                        <p class='card-text'>{{ profile.degree }}</p>
                    {% endfor %}
                    {% if profile.affiliations %}
                        <b class='card-title'>Affiliations</b>
                        <p class='card-text'>
                    {% for affiliation in profile.affiliations %}
                        {{ affiliation_href(affiliation) }}{{ ", " if not loop.last else "" }}
                    {% endfor %}
                        </p>
                    {% endif %}
                    {% if profile.personal_url %}
                        <b class='card-title'>Personal homepage</b>
                        <p class='card-text'>
                        <a href='{{ profile.personal_url }}' target='_blank'>{{ profile.personal_url }}</a>
                        </p>
                    {% endif %}
                    {% if profile.professional_url %}
                        <b class='card-title'>Professional homepage</b>
                        <p class='card-text'>
                        <a href='{{ profile.professional_url }}' target='_blank'>{{ profile.professional_url }}</a>
                        </p>
                    {% endif %}
                    {% with social_connect=request.user.username == username %}
                        <b class='card-title'>ORCID <a class='btn btn-xs btn-outline-secondary' href={{ slugurl('orcid') }}>more info <i class='fas fa-info-circle'></i></a></b>
                        <p class='card-text'>{{ render_social_profile_url(request, 'orcid', profile.orcid_url, connect=social_connect) }}
                        </p>
                        <b class='card-title'>GitHub <a class='btn btn-xs btn-outline-secondary' target='_blank' href='https://education.github.com'>more info <i class='fas fa-info-circle'></i></a></b>
                        <p class='card-text'>{{ render_social_profile_url(request, 'github', profile.github_url, connect=social_connect) }}
                        </p>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <ul class='nav nav-tabs detail-tabs' role='tablist'>
        <li class='nav-item'>
            <a class='nav-link active' data-bs-toggle='tab' href='#bio' role='tab'>Bio</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' data-bs-toggle='tab' href='#code' role='tab'>Models</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' data-bs-toggle='tab' href='#publications' role='tab'>Publications</a>
        </li>
        {% if has_change_perm %}
            <li class='nav-item'>
                <a class='nav-link' data-bs-toggle='tab' href='#peer-reviews' role='tab'>Model Reviews</a>
            </li>
        {% endif %}
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active' id='bio' role='tabpanel'>
            {% autoescape off %}
                {% if profile.bio.rendered %}
                    <p class='lead'>
                    {{ profile.bio.rendered }}
                    </p>
                {% else %}
                    <p class='lead p-3'>
                    No bio entered.
                    </p>
                {% endif %}
            {% endautoescape %}
            {% if profile.research_interests.rendered %}
                <h4 class='m-0 py-3'>Research Interests</h4>
                {% autoescape off %}
                    {{ profile.research_interests.rendered }}
                {% endautoescape %}
            {% endif %}
        </div>
        <div class='tab-pane' id='code' role='tabpanel'>
            {% for codebase in codebases %}
                {{ render_codebase_result(codebase) }}
            {% else %}
                <p class='lead p-3'>
                    No submitted codebases.
                </p>
            {% endfor %}
        </div>
        <div class='tab-pane' id='publications' role='tabpanel'>
            <p class='lead p-3'>
            Under development.
            </p>
        </div>
        {% if has_change_perm %}
            <div class='tab-pane' id='peer-reviews' role='tabpanel'>
                {% if profile.peer_review_invitation_set.exists() %}
                    <ul class='list-group list-group-flush'>
                        {% for invitation in profile.peer_review_invitation_set.all() %}
                            <li class='list-group-item'>
                                {% if invitation.accepted is none %}
                                    <a href='{{ invitation.get_absolute_url() }}'>
                                    {{ invitation.review.title }}
                                    </a>
                                {% elif invitation.accepted %}
                                    <a href="{{ invitation.latest_feedback.get_absolute_url() }}">
                                    {{ invitation.review.title }}
                                    </a>
                                {% else %}
                                    {{ invitation.review.title }}
                                {% endif %}
                                {{ format_datetime(invitation.date_created) }}
                                <span class="float-end">
                                    {% if invitation.accepted is none %}
                                        <span class="badge bg-warning">Waiting for response</span>
                                    {% elif invitation.review.is_complete %}
                                        <span class="badge bg-gray">Review complete</span>
                                    {% elif not invitation.accepted %}
                                        <span class="badge bg-primary">Declined review request</span>
                                    {% elif invitation.review.closed %}
                                        <span class="badge bg-danger">Review closed</span>
                                    {% else %}
                                        {% set badge_class="bg-warning" if invitation.review.is_awaiting_reviewer_feedback else "bg-info" %}
                                        <span class="badge {{badge_class}}">{{ invitation.review.get_status_display() }}</span>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class='lead p-3'>
                    You haven't been invited to review other CoMSES member's models yet. If you would like to be added
                    to the pool of CoMSES Computational Model Library 
                    <a href='{{url("library:peer-review-overview")}}'>Peer Reviewers</a> please 
                    <a href='{{slugurl("contact")}}'>let us know</a>.
                    </p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class='card-metadata'>
        <div class='card-body'>
            {% if has_change_perm %}
                <a href="{{ profile.get_edit_url() }}" class='btn btn-primary w-100 my-1'>
                    Edit Profile</a>
                <a href="{{ url('library:codebase-add') }}" class="btn btn-secondary w-100 my-1">
                    Archive a model
                </a>
            {% endif %}
            {# FIXME: set up JS logic for message / follow #}
            {% if profile.is_messageable(request.user) %}
                <a class='btn btn-primary w-100 my-1' href="mailto:{{ profile.email }}">Send Message</a>
                {#
                <p class='card-text'>
                    <a href='#' onclick='toggleFollow()' class='btn btn-primary w-100'>Follow</a>
                </p>
                #}
            {% endif %}
            {#
            <div class='row'>
                <div class='col text-center'>
                    <div><b>{{ following_count }}</b></div>
                    <div>
                        <small>Following</small>
                    </div>
                </div>
                <div class='col text-center'>
                    <div><b>{{ follower_count }}</b></div>
                    <div>
                        <small>Followers</small>
                    </div>
                </div>
            </div>
            #}
            <h2 class='card-title'>Research Interests</h2>
            <p class='card-text tag-list'>
                {% for keyword in profile.tags.all() %}
                    <small>{{ search_tag_btn(keyword, category='users') }}</small>
                {% else %}
                    none selected
                {% endfor %}
            </p>
            <p class="card-text">
                {% if profile.full_member %}
                    <span class="badge bg-success">Full Member</span>
                {% else %}
                    <span class="badge bg-primary">Basic Member</span>
                {% endif %}
                {% if profile.is_reviewer %}
                    <span class="badge bg-success">Reviewer</span>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
