// @use '../../node_modules/vue-multiselect/dist/vue3-multiselect.min.css';

.multiselect__tags {
  border-radius: 0;
  border: 1px solid #ced4da;
}

.multiselect--above .multiselect__content-wrapper {
  z-index: 3;
}

.multiselect__search-toggle {
  position: absolute;
  right: 0px;
  padding: 10px;
  color: #8f8f8f;
  cursor: pointer;
  font-size: .8rem; 
}

.multiselect__option {
  white-space: normal;
}

.child-is-invalid {
  .multiselect__tags {
    border-color: $form-feedback-invalid-color;
  }

  .invalid-feedback {
    display: block;
  }
}