// Theme colors

$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-800: #343a40 !default;

$blue:    #007bff !default;
$red:     #dc3545 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$secondary-color: #22b1e6;

$theme-colors: (
  primary: $blue,
  secondary: $secondary-color,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

$button-color-primary: #92c02e;

// Border Radius Override
// FIXME: consider leaving this enabled and instead override the specific elements that need squareness to have no
// border-radius - otherwise this appears to prevent all border-radius from badges buttons etc
// see #363
$enable-rounded: false;

$font-family-base: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;

// // Font Size Overrides
$h1-font-size: 1.8rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1.0rem;

// Links

$link-color: $secondary-color;
$link-decoration: none;
$link-hover-decoration: underline;

// don't use xxl for now
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Pagination

$pagination-active-border-color: $button-color-primary;
$pagination-active-bg: $button-color-primary;

// Text/Background Contrast
$min-contrast-ratio: 2;
