{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav %}

{% block title %}{{ page.title }}{% endblock %}

{% block introduction %}<h1>Contact</h1>{% endblock %}

{% block content %}
    {{ breadcrumb(page.get_breadcrumbs()) }}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1 class='display-5'>{{ page.title }}</h1>
        <div class='pt-4 lead'>
            Thanks for your feedback! Your message has been sent.
        </div>
    </div>
    <div>
    </div>
{% endblock content %}
