{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav %}

{% block title %}{{ page.title }}{% endblock %}

{% block introduction %}<h1>About</h1>{% endblock %}

{% block content %}
    {{ breadcrumb(page.get_breadcrumbs()) }}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1>{{ page.title }}</h1>
        <div class='pt-4 lead'>
            {{ markdown(page.description) }}
            <hr />
            Questions or concerns of broader interest to the community can also be posted on our <a href='{{constants.DISCOURSE_BASE_URL}}'>forums</a>.
        </div>
    </div>
    <form class="contact" id="contact_form" method="post">
        {% include "includes/form.jinja" %}
        <button type="submit" class='btn btn-primary'>Contact Us</button>
    </form>
{% endblock content %}
