{% extends 'base.jinja' %}

{% block introduction %}<h1>Metrics</h1>{% endblock %}

{% block content %}
    <div id="app" data-reformed-metrics-data="{{ reformed_metrics_data_json }}"></div>
{% endblock %}

{% block js %}
{{ render_bundle('metrics', attrs='defer') }}
{% endblock %}
