{% extends 'base.jinja' %}

{% block introduction %}<h1>Metrics</h1>{% endblock %}

{% block content %}
    <div id="app" data-all-metrics-data="{{ all_metrics_data_json | safe}}"></div>
{% endblock %}

{% block js %}
{{ render_bundle('metrics', attrs='defer') }}
{% endblock %}
