Dear {{ submitter.name }},

Thank you for your submission to {{ conference.title }}! We will begin checking submissions and organizing them into sessions **2 weeks before the start of the conference** ({{ format_datetime(conference.start_date) }}) and will contact you if any adjustments are needed.

For posterity, here is what we received:

{% for field in form.visible_fields() %}
{{ field.label }}: {{ field.value() }}
{%- endfor %}
Submitter: [{{submitter.name}}]({{ profile_url }})

Thanks for being a part of CoMSES Net!
