Dear {{ submitter.name }},

Thank you for your submission to {{ conference.title }}! We will begin checking submissions 2 weeks before the start of
the conference {{ conference.start_date }} may contact you then if adjustments are needed. We will then organize the
presentations into sessions for the conference.

Here is what you sent us:

{{ form.as_p() }}

Thanks for being a part of CoMSES Net!
