{% extends 'base.jinja' %}

{% block introduction %}<h1>Edit a Job</h1>{% endblock %}

{% block content %}
<div id="job-form" {% if object %} data-job-id="{{ object.id }}" {% endif %}></div>
{% endblock %}

{% block js %}
{{ vite_asset("apps/job_edit.ts") }}
{% endblock %}