{% extends "base.jinja" %}

{% block introduction %}
    <h1>CoMSES Membership</h1>
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col'>
            <p>
            As a scientific community of practice, members of the CoMSES Network have access to a suite of community
            resources and also share a responsibility to contribute to the community. CoMSES members will enjoy
            increased benefits as this international community grows and builds this resource base. Public content
            include forum posts, calendar events, educational materials, bibliographic references, and published models
            in the Computational Library.
            </p>
            <p>
            There are two categories of membership in the network, <em>Affiliates</em> and <em>Full Members</em>.
            </p>
        </div>
    </div>
    <div class='card'>
        <div class='card-block'>
            <h3 class='card-title'>Affiliate and Full Member Privileges</h3>
            <p class='card-text'>
            <ul>
                <li>Upload new models to the Model Library</li>
                <li>Contribute to the general CoMSES discussion forums, submit job openings and events to the events calendar</li>
                <li>Enter personalized member profile information. Only full members have full access to other users’
                    profile information.</li>
            </ul>
            </p>
        </div>
    </div>
    <div class='card'>
        <div class='card-block'>
            <h3 class='card-title'>Full Members Privileges</h3>
            <p class='card-text'>
            <ul>
                <li>Apply for access to the high performance computing cluster at Arizona State University for model
                    execution. This is a special agreement with ASU’s computing resources group for the CoMSES Network.</li>
                <li>Contribute to the Education section of the OpenABM website.</li>
                <li>Create special interest groups with web-pages and online collaboration tools.</li>
                <li>Receive assistance in preparing complex models for submission to the Model Library. This will be on
                    a per-application basis and dependent on available funds for RA support.</li>
                <li>Request one’s models be certified by the CoMSES Model Review Committee. We will create review
                    boards, similar to those for journal articles, to formally review models submitted for
                    certification. Certified models are tested to run and produce the kinds of output that they claim to
                    produce. They also will be accompanied by metadata and documentation that meets CoMSES approved
                    standards and is sufficient to allow other scientists to understand the operations of the
                    model.
                </li>
                <li>Add relevant modeling publications to the Bibliographic Library. Members can citations to
                    publication written by themselves or by others that they feel would contribute to a better
                    understanding of computational modeling in the social and life sciences.
                </li>
                <li>Access contributed datasets for model testing. We are establishing a data archive for test datasets
                    to be contributed by CoMSES members.</li>
                <li>Apply for funds to organize symposia and training sessions related to computational models at
                    professional meetings. These will be provided on a by-application basis and are dependent on
                    available funds.</li>
            </ul>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-3'>
            <a class='btn btn-primary'>Register as an Affiliate</a>
        </div>
        <div class='col-sm-3'>
            <a class='btn btn-primary'>Register as a Full Member</a>
        </div>
    </div>
{% endblock %}
