{% if form.non_field_errors() %}
    <ul class='list-group'>
    {% for error in form.non_field_errors() %}
        <li class='list-group-item list-group-item-danger'>{{ error|safe }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% for field in form.visible_fields() %}
    {% set error_class='has-errors' if field.errors else ''%}
    {% if is_checkbox(field) %}
        <div class='mb-3'>
            <div class='form-check'>
                <label class='form-check-label'>
                    {{ add_field_css(field, "form-check-input") }}
                    {{ field.label }}
                    {% if field.help_text %}
                        <small class='form-text text-muted'>{{ field.help_text }}</small>
                    {% endif %}
                </label>
            </div>
        </div>
    {% elif is_hcaptcha(field) %}
        {{ field }}
    {% else %}
        <div class='row'>
            <div class='col-12 {{ error_class }} mb-3'>
                <label class='col-form-label' for='{{ field.id_for_label }}'>{{ field.label }}</label>
                {{ add_field_css(field, "form-control") }}
                {% if field.errors %}
                    <small class='invalid-feedback'>{{ field.errors }}</small>
                {% endif %}
                {% if field.help_text %}
                    <small class='form-text text-muted'>{{ field.help_text }}</small>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
{% for field in form.hidden_fields() %}
    {{ field }}
{% endfor %}
{% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
