<ul class='nav nav-tabs' role='tablist'>
    <li class='nav-item'>
        <a class='nav-link active' data-bs-toggle='tab' role='tab' href='#privilege'>Membership Privileges</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link' data-bs-toggle='tab' role='tab' href='#responsibility'>Responsibilities</a>
    </li>
</ul>
<div class='tab-content'>
    <div class='tab-pane active' id='privilege' role='tabpanel'>
        <div class='p-3'>
            <h2 id='basic-privileges' class='title'>Basic and Full Member Privileges</h2>
            <ul>
                <li><b>Upload new models to the Model Library</b></li>
                <li><b>Contribute to the general CoMSES discussion forums, submit job openings and events to the events calendar</b></li>
            </ul>
            <h2 id='full-member-privileges' class='title'>Full Members Privileges</h2>
            <ul>
                <li><div>
                    Our cyberinfrastructure is generously hosted by
                    <a href='https://www.computecanada.ca/'>Compute Canada's</a>
                    <a href='https://www.computecanada.ca/research-portal/accessing-resources/resource-allocation-competitions/rpp/'>Research Platforms and Portals program</a> - if you have affiliations with Canadian PIs you may find their <a href='https://www.computecanada.ca/research-portal/accessing-resources/rapid-access-service/'>Rapid Access Service</a> or other <a href='https://www.computecanada.ca/research-portal/accessing-resources/resource-allocation-competitions/'>Resource Allocation Services</a> useful.
                    </div>
                </li>
                <li><b>Apply to be a CoMSES Fellow</b> - <a href="{{slugurl('contact')}}">contact us</a> if you'd like
                    apply to be a CoMSES Fellow. CoMSES Fellows are community volunteers who serve as senior contributors and
                    editors on our site, helping to moderate and manage our <a href="{{slugurl('community')}}">community</a> <a href="{{slugurl('resources')}}">resources</a>
                </li>
                <li><b>Create special interest groups on the <a href='https://forum.comses.net'>CoMSES Net Forums</a>.</b></li>
                <li><b>Receive assistance in preparing complex models for submission to the Computational Model Library.</b> This will be on a per-application basis and dependent on available funds for RA support.</li>
                <li><b>Request peer review and DOIs for submitted models.</b> CoMSES Net full members are welcome to
                    join the CoMSES Model Review Working Group, similar to those for journal articles, to formally
                    review models submitted for peer review. Reviewed models follow good practices for software
                    citation, are runnable, and conform to community standards for design, documentation, and
                    implementation.
                </li>
                <li><b>Add relevant modeling publications to the <a target='_blank' href='https://catalog.comses.net'>CoMSES Catalog</a>.</b>
                    Members can add citations to publication written by themselves or by others that they feel would
                    contribute to a better understanding of computational modeling in the social and ecological
                    sciences.
                </li>
                <li><b>Access contributed datasets for model testing.</b> One of our long-range goals remains
                    establishing a curated collection of relevant test datasets. If you'd like to contribute to this
                    initiative, please <a href='{{slugurl("contact")}}'>contact us!</a></li>
            </ul>
        </div>
    </div>
    <div class='tab-pane' id='responsibility' role='tabpanel'>
        <div class='p-3'>
            <h2 id='basic-responsibilities' class='title'>Responsibilities of all CoMSES Network Members</h2>
            <ul>
                <li>Properly credit the research of scientists who submit models to the library through appropriate
                    citation or acknowledgement in publications and presentation.</li>
                <li>Use scientific computational modeling in ethical ways that benefit the larger human community.</li>
                <li>Share expertise in computational modeling with other network members and help them gain
                    competence in applying these new approaches in scientific work.</li>
                <li>Adhere to the 
                    <a href='https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html'>Carpentries Code of Conduct</a>:
                    <ol>
                        <li>Use welcoming and inclusive language</li>
                        <li>Be respectful of different viewpoints and experiences</li>
                        <li>Gracefully accept constructive criticism</li>
                        <li>Focus on what is best for the community</li>
                        <li>Show courtesy and respect towards other community members</li>
                    </ol>
                </li>
            </ul>
            <h2 id='full-member-responsibilities' class='title'>Full Member Responsibilities</h2>
            <p>Full members are also expected to help the CoMSES community develop and manage its common knowledge
            resources by:
            </p>
            <ul>
                <li>Participating in self governance of the network</li>
                <li>Assisting with the evaluation of models submitted for certification</li>
                <li>Contributing to the shared resources of the network through submitting models to the library,
                    datasets for model testing, bibliographic references, educational materials, or other model-related
                    resources</li>
                <li>Depending on expertise, full members may also become resource stewards who help manage the CoMSES
                    Net website and internet resources
                </li>
            </ul>
        </div>
    </div>
</div>
