{% extends "base.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator, breadcrumb, subnav %}

{% set FULLCALENDAR_VERSION="3.4.0" %}

{% block extra_css %}
    <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/{{FULLCALENDAR_VERSION}}/fullcalendar.min.css">
{% endblock %}

{% block title %}Community Events{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}


{% block content %}
    {{ breadcrumb([{'text': 'Community Events' }]) }}
    {# FIXME: make a tab navigation to switch between list view and calendar view #}
    {{ subnav([ 
    {'text': 'Calendar View', 'url': url('home:event-calendar'), 'active': True},
    {'text': 'List View', 'url': url('home:event-list'), },
    ])
    }}
    <div class='pt-3 pb-2 row'>
        <div class='col'>
            <a class='btn btn-primary' href='url("home:event-add")'>Submit an event</a>
        </div>
    </div>

    <div id="calendar"></div>
{% endblock %}

{% block js %}
    {{ super() }}
    {{ render_bundle('event_calendar') }}
{% endblock %}
