{% extends 'base.jinja' %}

{% block introduction %}<h1>Submit an Event</h1>{% endblock %}

{% block content %}
<div id="app"></div>
{% endblock %}

{% block js %}
{{ render_bundle('events') }}
{% endblock %}
