{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import list_page, paginator, breadcrumb, subnav, member_profile_href, search_tag_href %}

{% macro render_event(item, detail_url_name) %}
<div class="card">
    <div class='card-body'>
        <div class='row'>
            <div class='col-8'>
                <h3 class='title mb-0'><a href="{{ url(detail_url_name, pk=item.id) }}">{{ item.title }}</a></h3>
                <b class='title'>
                    {{ format_datetime(item.start_date) }}
                    {% if item.end_date %}
                        - {{ format_datetime(item.end_date) }}
                    {% endif %}
                </b>
            </div>
            <div class='col-4'>
                <small class='float-right'>Last updated {{ item.last_modified }}</small>
                <br>
                <small class='float-right'>
                    Submitted by {{ member_profile_href(item.submitter) }}
                </small>
            </div>
        </div>
        <div class='row mt-3'>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Early Registration Deadline</dt>
                    <dd>{{ format_datetime_str(item.early_registration_deadline) }}</dd>
                </dl>
            </div>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Registration Deadline</dt>
                    <dd>{{ format_datetime_str(item.registration_deadline) }}</dd>
                </dl>
            </div>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Submission Deadline</dt>
                    <dd>{{ format_datetime_str(item.submission_deadline) }}</dd>
                </dl>
            </div>
            <div class='col-lg-3 col-md-6'>
                <dl>
                    <dt>Location</dt>
                    <dd>{{ item.location }}</dd>
                </dl>
            </div>
        </div>
        {% if item.summary %}
            <div class='row'>
                <div class='col'>
                    {{ markdown(item.summary) }}
                </div>
            </div>
        {% endif %}
        {% if item.tags %}
            <div class="tag-list">
                {% for tag in item.tags %}
                    {{ search_tag_href(tag, category='events') }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% block title %}Community Events{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}

{% set pagination_block = paginator('home:event-list', __all__) %}

{% block top %}
    {{ breadcrumb([{'text': 'Community Events' }]) }}
    {{ subnav([
    {'text': 'Calendar View', 'url': url('home:event-calendar')},
    {'text': 'List View', 'url': url('home:event-list'), 'active': True},
    ]) 
    }}
    {{ pagination_block }}
    <div id="sortby"></div>
{% endblock %}

{% block content %}
    {{ list_page(__all__, render_event, 'home:event-detail') }}
    {% if count > 10 %}
        {{ pagination_block }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div id="sidebar"></div>
{% endblock %}

{% block js %}
{{ render_bundle('event_list', attrs='defer') }}
{% endblock %}
