{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import breadcrumb, embed_discourse_comments, share_card, member_profile_href %}

{% block title %}{{ title }}{% endblock %}

{% block introduction %}<h1>Community Events</h1>{% endblock %}

{% block top %}
    {{ breadcrumb([
    {'text': 'Community Events', 'url': url('home:events-calendar')},
    {'text': title }
    ]) }}
{% endblock %}

{% block content %}
    <div id='discourse-content'>
        <h1>{{ title }}</h1>
        {{ description|markdown }}
    </div>
    <div class="btn-group">
        {% if has_change_perm %}
            <a type="button" class="btn btn-primary btn-sm" href="{{ url('home:event-edit', pk=id) }}">Edit</a>
        {% endif %}
        {% if has_delete_perm %}
            <a type="button" class="btn btn-danger btn-sm" href="{{ url('home:event-detail', pk=id) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card-metadata">
        <div class="card-body">
            <div class='section'>
                <b class="card-title">Submitter</b>
                <p class="card-text">{{ member_profile_href(submitter) }}</p>
                <b class="card-title">Last Updated</b>
                <p class="card-text">{{ last_modified }}</p>
                <b class="card-title">Location</b>
                <p class='card-text'>{{ location|default("None specified") }}</p>
                <b class="card-title">Early Registration Deadline</b>
                <p class="card-text">{{ early_registration_deadline|truncate_midnight }}</p>
                <b class="card-title">Submission Deadline</b>
                <p class="card-text">{{ submission_deadline|truncate_midnight }}</p>
                <b class="card-title">Start Date</b>
                <p class="card-text">{{ start_date|truncate_midnight }}</p>
                <b class="card-title">End Date</b>
                <p class="card-text">{{ end_date|truncate_midnight }}</p>
            </div>
        </div>
    </div>
    <div class="card-metadata">
        <div class="card-body">
            {% if has_change_perm %}
                <a href="{{ url('library:codebase-update', identifier=identifier) }}" class="col-12 my-1 btn btn-primary">Edit</a>
            {% endif %}
            <button type="button" class="col-12 my-1 btn btn-primary">Download</button>
            <button type="button" class="col-12 my-1 btn btn-primary">Follow</button>
        </div>
    </div>
    {{ share_card(absolute_url) }}
{% endblock %}

{% block bottom %}
    <div class="col-12">
        <h4>Comments</h4>
        <div id="discourse-comments"></div>
    </div>
{% endblock %}

{% block js %}
    {{ embed_discourse_comments(true) }}
{% endblock %}
