{% macro submit_model_btn() %}
<div class='submit-model'><a class='btn btn-primary w-100' href='{{ url("library:codebase-add") }}'>Submit a model</a>
</div>
{% endmacro %}

{% macro checkmark(value) %}
{% if value %}
<span class='text-success far fa-check-circle'></span>
{% else %}
<span class='text-danger far fa-times-circle'></span>
{%endif %}
{% endmacro %}

{% macro search_tag_href(tag, css_classes='tag', category=None) %}
<a class='{{ css_classes }}' href='/{{category|default("search")}}/?tags={{tag.name|urlencode}}'>
    {{ tag.name }}
</a>
{% endmacro %}

{% macro search_tag_btn(tag, category=None) %}
{# FIXME: combination of CSS classes should be extracted into SCSS as a single convenience class #}
{{ search_tag_href(tag, 'btn btn-tag btn-outline-secondary', category) }}
{% endmacro %}

{% macro affiliation_href(affiliation) %}
{% if affiliation %}
{%- if affiliation.url -%}
<a href='{{ affiliation.url }}' target='_blank'>{{ affiliation.name }}</a>
{%- else -%}
{{ affiliation.name }}
{%- endif -%}
{% endif %}
{%- endmacro -%}

{% macro member_profile_href(member_profile) -%}
<a href='{{ member_profile.profile_url }}'>{{ member_profile.name }}
    {%- if caller -%}
    {{ caller() }}
    {%- endif -%}</a>
{%- endmacro %}

{% macro delete_confirm_modal(modal_title, identifier, delete_url, csrf_input=None) %}
<button type="button" class="btn btn-danger my-1 w-100" data-bs-toggle="modal" data-bs-target="#delete-modal">
    Delete
</button>
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete-label">{{ modal_title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete "<b>{{ identifier }}</b>"?</p>
                <p>This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-gray" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{{ delete_url }}">
                    {{ csrf_input }}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro share_card(url) %}
{# FIXME: add detail_url to share links #}
<div class="card-metadata">
    <div class="card-body my-auto">
        <ul class='social-media-sm my-auto'>
            <li class='pe-2'><b>Share</b></li>
            <li>
                <a href='https://linkedin.com' title='LinkedIn' target='_blank'>
                    <span class='fa-stack'>
                        <i class='fas fa-circle fa-stack-2x'></i>
                        <i class='fab fa fa-linkedin fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
            <li>
                <a href='https://facebook.com' title='facebook' target='_blank'>
                    <span class='fa-stack'>
                        <i class='fas fa-circle fa-stack-2x'></i>
                        <i class='fab fa-facebook fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
            <li>
                <a href='https://twitter.com' title='Twitter' target='_blank'>
                    <span class='fa-stack'>
                        <i class='fas fa-circle fa-stack-2x'></i>
                        <i class='fab fa-twitter fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
            <li>
                <a href='#' title='Email'>
                    <span class='fa-stack'>
                        <i class='fas fa-circle fa-stack-2x'></i>
                        <i class='fas fa-envelope fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endmacro %}

{% macro build_paginator_url_params(page_number, query_params) %}{%- if query_params %}{{ query_params }}&amp;{%endif
-%}page={{page_number}}{% endmacro %}

{% macro page_nav(url_name, list_state) %}
<nav aria-label="Page navigation">
    <ul class="pagination m-0">
        <li class='page-item {{ "disabled" if list_state.is_first_page else ""}}'>
            <a class='page-link'
                href='{{ url(url_name) }}?{{ build_paginator_url_params(list_state.current_page - 1, list_state.query_params) }}'
                aria-label='Previous'>
                <span aria-hidden='true'>&laquo;</span>
                <span class='sr-only'>Previous</span>
            </a>
        </li>
        <li class='page-item {{ "active" if list_state.is_first_page else ""}}'>
            <a class='page-link'
                href="{{ url(url_name) }}?{{ build_paginator_url_params(1, list_state.query_params) }}">1</a>
        </li>
        {% for page in list_state.range -%}
        {% if loop.first and page > 2 %}
        <li class='page-item disabled'>
            <span class='page-link'>&hellip;</span>
        </li>
        {% endif %}
        <li class='page-item {{ "active" if page == list_state.current_page else ""}}'>
            <a href="{{ url(url_name) }}?{{ build_paginator_url_params(page, list_state.query_params) }}"
                class="page-link">{{ page }}</a>
        </li>
        {% if loop.last and page < list_state.num_pages - 1 -%} <li class="page-item disabled">
            <span class='page-link'>&hellip;</span>
            </li>
            {% endif %}
            {% endfor %}
            {% if list_state.num_pages > 1 -%}
            <li class="page-item {{ " active" if list_state.is_last_page }}">
                <a href="{{ url(url_name) }}?{{ build_paginator_url_params(list_state.num_pages, list_state.query_params) }}"
                    class="page-link">{{ list_state.num_pages }}</a>
            </li>
            {% endif %}
            <li class='page-item {{ "disabled" if list_state.is_last_page }}'>
                <a class='page-link'
                    href='{{ url(url_name) }}?{{ build_paginator_url_params(list_state.current_page + 1, list_state.query_params) }}'
                    aria-label='Previous'>
                    <span aria-hidden='true'>&raquo;</span>
                    <span class='sr-only'>Next</span>
                </a>
            </li>
    </ul>
</nav>
{% endmacro %}

{% macro paginator(url_name, list_state) %}
<p>Displaying {{ list_state.num_results }} of <strong>{{ list_state.count }}</strong> results
    {% if list_state.query %}
    for <strong>'{{ list_state.query }}'</strong>
    {% endif %}
    {% if list_state.filter_display_terms %}
    {% for term in list_state.filter_display_terms %}
    <span class="badge bg-gray ms-1">{{ term }}</span>
    {% endfor %}
    <a class="text-danger ms-1" href="{{ url(url_name) }}">
        <i class="fas fa-times"></i> clear
    </a>
    {% endif %}
</p>
{% if list_state.count %}
<div class="d-flex justify-content-between mb-3">
    {{ page_nav(url_name, list_state) }}
    <div id="sortby" class=""></div>
</div>
{% endif %}
{% endmacro %}

{% macro search_bar(search_url, placeholder) %}
<form class="mb-3" action="{{ search_url }}" method="get">
    <label class="sr-only" for="search-query">Search</label>
    <div class="input-group">
        <input id="search-query" class="form-control" name="query" type="search" value=""
            placeholder="{{ placeholder }}">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search px-1"></i>
        </button>
    </div>
</form>
{% endmacro %}

{% macro list_page(list_state, item_component, detail_url_name) %}
{% for item in list_state.results %}
{{ item_component(item, detail_url_name) }}
{% else %}
<p class='lead pt-3'>
    No matching results found.
</p>
{% endfor %}
{% endmacro %}

{% macro subnav(items) %}
{% if items %}
<ul class='nav nav-tabs justify-content-center'>
    {% for item in items %}
    <li class='nav-item'>
        <a class='nav-link {{ "active" if item.active else "" }}' href='{{ item.url }}'>{{ item.text }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro breadcrumb(items) %}
{% if items|length > 0 %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class='breadcrumb-item'><a href='/'>Home</a></li>
        {% for item in items %}
        {% if not item.url %}
        <li class="breadcrumb-item active" aria-current="page">{{ item.text }}</li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}
{% endmacro %}

{% macro render_social_profile_url(request, provider_name, profile_url, connect=False, csrf_input=None) %}
{% with provider_icon_class="text-gray fab fa-" ~ provider_name %}
{% if profile_url %}
<a target='_blank' href='{{ profile_url }}'>
    <i class='{{ provider_icon_class }}'></i> {{ profile_url }}
</a>
{% elif connect %}
<form action="{{ provider_login_url(request, provider_name, process='connect') }}" method="POST">
    {% if csrf_input %}
    {{ csrf_input }}
    {% endif %}
    <button type="submit" class="btn btn-link p-0">
        <i class='{{ provider_icon_class }}'></i> Connect your {{ provider_display_name(provider_name) }} account
    </button>
</form>
{% else %}
No associated {{ provider_display_name(provider_name) }} account.
{% endif %}
{% endwith %}
{% endmacro %}

{% macro embed_discourse_comments(is_public, submitter_username, nonce) %}
{# See https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 for details #}
{% if should_enable_discourse(is_public) %}
<h3>Discussion</h3>
<div id="discourse-comments"></div>
<script nonce="{{ nonce }}">
    // FIXME: see if wagtail fullpageurl
    // (https://docs.wagtail.org/en/stable/topics/writing_templates.html#fullpageurl)
    // obviates this
    var canonicalUrl = window.location.origin + window.location.pathname;
    var canonicalUrlElement = document.getElementById('discourseEmbedUrl');
    if (canonicalUrlElement != null) {
        canonicalUrl = canonicalUrlElement.href;
    }
    else {
        // remove duplicate forward slashes
        canonicalUrl = canonicalUrl.replace(/([^:]\/)\/+/g, "$1");
    }
    DiscourseEmbed = {
        discourseUrl: "{{ constants.DISCOURSE_BASE_URL }}/",
        discourseUserName: "{{ submitter_username }}",
        discourseReferrerPolicy: "no-referrer-when-downgrade",
        discourseEmbedUrl: canonicalUrl
    };
    (function () {
        var d = document.createElement('script');
        d.type = 'text/javascript';
        d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script>
{% else %}
Discourse comments are disabled.
{% if not is_public %}
<em><span class='fas fa-lock'></span> (this page is private)</em>
{% else %}
Currently in <em><mark>{{ constants.DEPLOY_ENVIRONMENT }}</mark></em> mode.
{% endif %}
{% endif %}
{% endmacro %}

{% macro format_date(date) %}
{{ date.strftime('%B %d, %Y %I:%M %p') }}
{% endmacro %}

{% macro ogp_tags_base(url=None, title=None, description=None, image=None) %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ url or 'https://www.comses.net/'}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title or 'The Network for Computational Modeling in the Social and Ecological Sciences (CoMSES Net)'}}">
    <meta property="og:description" content="{{ description or 'CoMSES Net is an international open research community dedicated to fostering good practices for computational / agent based modeling.'}}">
    <meta property="og:image" content="{{ image or static('images/logo-comses.png') }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="comses.net">
    <meta property="twitter:url" content="{{ url or 'https://www.comses.net/'}}">
    <meta name="twitter:title" content="{{ title or 'The Network for Computational Modeling in the Social and Ecological Sciences (CoMSES Net)'}}">
    <meta name="twitter:description" content="{{ description or 'CoMSES Net is an international open research community dedicated to fostering good practices for computational / agent based modeling.'}}">
    <meta property="og:image" content="{{ image or static('images/logo-comses.png') }}">
{% endmacro %}
