{% extends "base.jinja" %}

{% set provider_name = account.get_provider().name %}

{% block introduction %}
    <h1>Social network login failure</h1>
{% endblock %}
{% block content %}
    <p>
    Sorry, an error occurred while trying to login via your social network account at {{ provider_name }}. 
    Please <a href='{{slugurl("contact")}}'>contact us</a> if this persists.
    {% endtrans %}
    </p>
{% endblock %}
