{% extends "base.jinja" %}
{% from "common.jinja" import render_social_profile_url %}

{% block title %}External Account Connections{% endblock %}

{% block introduction %}
<h1>External Account Connections</h1>
{% endblock %}

{% block content %}
    <h2>Connect your CoMSES account with <a target='_blank' href='https://github.com'>GitHub</a> or <a target='_blank' href='https://orcid.org'>ORCID</a></h2>
    <hr>
    <p>
    Connecting your account with GitHub or ORCID carries additional benefits - you will have access to private GitHub
    repositories and your published models with DOIs will be automatically associated with your ORCID record.
{% if form.accounts %}
    <h3>{% trans %}Your authorized external accounts{% endtrans %}</h3>

    <form method="post" action="{{ url('socialaccount_connections') }}">
        {% csrf_token %}

        {% if form.non_field_errors() %}
            <div id="errorMsg">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class='form-group row'>
            <div class='offset-sm-2 col-sm-10'>
                {% for base_account in form.accounts %}
                    {% with account = base_account.get_provider_account() %}
                        <div class='form-check'>
                            <label class='form-check-label' for="id_account_{{ base_account.id }}">
                                <input class='form-check-input' id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                                <span class="fa fa-{{ base_account.provider }} {{ account.get_brand().id }}"></span> {{account.get_brand().name}} -
                                <a target='_blank' href='{{ account.get_profile_url() }}'>{{ account }}</a>
                            </label>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class='form-group row'>
            <div class='offset-sm-2 col-sm-10'>
                <button type="submit" class='btn btn-sm btn-primary'><span class='fa fa-trash'></span> {% trans %}Remove{% endtrans %}</button>
            </div>
        </div>
    </form>
{% else %}
    <p>{% trans %}No connected accounts. {% endtrans %}</p>
{% endif %}
<hr>
<h3>Link your account</h3>
<div class='card'>
    <div class='card-block'>
        <ul class="list-group list-group-flush">
            <li class='list-group-item'>
                {{ render_social_profile_url('github', request.user.member_profile.github_url, connect=True) }}
            </li>
            <li class='list-group-item'>
                {{ render_social_profile_url('orcid', request.user.member_profile.orcid_url, connect=True) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
