{% extends "base.html" %}

{% set provider_name = account.get_provider().name %}

{% block introduction %}
    <h1>Social Sign-In Canceled</h1>
{% endblock %}

{% block content %}


<p>
Your request to sign-in using an existing account has been canceled. If this was a mistake, you can try to <a href="{{url('account_login')}}">sign in</a> again.
</p>

{% endblock %}
