{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav %}

{% block title %}CoMSES Digests{% endblock %}

{% block introduction %}<h1>CoMSES Digest</h1>{% endblock %}

{% block content %}
    {{ breadcrumb([
        {"url": "/about/", "text": "About"},
        {"url": "/about/community/", "text": "Community"},
        {"text": "CoMSES Digest Newsletter" }
    ])}}
    <div class="jumbotron">
        <h1>CoMSES Digest Newsletter</h1>
        <p class="pt-4 lead">
            The CoMSES Digest is a quarterly newsletter with relevant CoMSES Net community news - past
            issues can be viewed below. Full Members are automatically subscribed to the newsletter.
            {# FIXME: add salesforce signup link if it exists #}
            {# but you can also <a href="http://eepurl.com/b8GCUv">sign up</a> as a basic member. #}
        </p>
    </div>
    <h1>Past Issues</h1>
    {% for year, items in digests|groupby("year_published")|reverse %}
        <h3 class="mt-3">{{ year }}</h3>
        <div class="list-group">
            {% for digest in items %}
            <a href="{{ static(digest.static_path) }}"
                class="border list-group-item list-group-item-action mb-3 p-3"
            >
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-secondary"><b>{{ digest.title }}</b></h5>
                    <small class="text-muted">
                        {{ digest.get_formatted_publication_date() }}
                    </small>
                </div>
                <p class="mb-0">{{ digest.get_volume_issue_display() }}</p>
            </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
