{% extends "base.jinja" %}

{% block introduction_section %}
<section class="homepage-introduction pt-5 pt-md-4 position-relative overflow-hidden text-white">
    <canvas id="hex-animation" class="background-canvas"></canvas>
    <div class="container position-relative z-1 d-flex flex-column justify-content-evenly">
        <div class="row">
            <div class="col text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6 d-flex flex-column mb-5">
                <h3 class="fw-bold mb-3">What you'll find here</h3>
                <div class="mb-3 homepage-introduction-card p-3">
                    <div class="d-flex align-items-center mb-3">
                        <img src="{{ static('images/icons/submit-white.png') }}" class="me-2" style="height: 2rem;">
                        <h2 class="fw-bold mb-0">
                            {{ page.library_title }}
                        </h2>
                    </div>
                    {% autoescape off %}
                        {{ page.library_blurb }}
                    {% endautoescape %}
                    <div class="d-flex flex-column align-items-start">
                        <a href="{{ url('library:codebase-add') }}" class="btn btn-lg btn-primary mb-2">
                            <h4 class="fw-bold mb-0">Publish your model code</h4>
                        </a>
                        <a href="{{ url('library:codebase-add') }}" class="btn btn-lg btn-secondary">
                            <h4 class="fw-bold mb-0">Browse the library</h4>
                        </a>
                    </div>
                </div>
                <a class="homepage-introduction-card text-decoration-none p-3 mb-3" href="#community">
                    <div class="d-flex align-items-center">
                        <img src="{{ static('images/icons/groups-white.png') }}" class="me-2" style="height: 2rem;">
                        <h2 class="fw-bold mb-0 flex-grow-1">
                            {{ page.community_title }}
                        </h2>
                        <h2 class="fas fa-chevron-down mb-0 opacity-75"></h2>
                    </div>
                </a>
                <a class="homepage-introduction-card text-decoration-none p-3" href="#resources">
                    <div class="d-flex align-items-center">
                        <img src="{{ static('images/icons/search-white.png') }}" class="me-2" style="height: 2rem;">
                        <h2 class="fw-bold mb-0 flex-grow-1">
                            {{ page.resources_title }}
                        </h2>
                        <h2 class="fas fa-chevron-down mb-0 opacity-75"></h2>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-5">
                <h3 class="fw-bold mb-3">Latest peer reviewed models</h3>
                <div id="reviewed-models-feed" data-feed-url="{{ feed_urls.reviewed_models }}" data-limit="3"></div>
                <a href="/reviews/" class="fw-bold text-white">
                    Read more about our peer review process <i class="fas fa-chevron-right ms-1"></i>
                </a>
            </div>
        </div>
    </div>
    {% with site_settings=settings("core.SiteSettings", use_default_site=True) %}
    {% if site_settings.has_banner %}
    <div class='homepage-banner'>
        <a href='{{ site_settings.banner_destination_url }}' class='homepage-banner-link'>
            {{ site_settings.banner_message_title }}
        </a>
    </div>
    {% endif %}
    {% endwith %}
</section>
{% endblock %}
{% block page %}

<section class="homepage-section" id="community">
    <div class="container">
        <div class="row gx-4 gx-lg-5">
            <div class="col-8 mb-5">
                <h1 class="text-start fw-bold mb-3">{{ page.community_title }}</h1>
                {% autoescape off %}
                    {{ page.community_blurb }}
                {% endautoescape %}
            </div>
            <div class="col-4 mb-5">
                <h5 class="fw-bold mb-3">Explore the CoMSES Net Forums</h5>
                <div id="forum-categories-feed" data-feed-url="{{ feed_urls.forum_categories }}" data-limit="6"></div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-6 mb-5">
                <h3 class="fw-bold mb-3">Upcoming events</h3>
                <div id="events-feed" data-feed-url="{{ feed_urls.events }}" data-date-prefix="Begins" data-limit="3">
                </div>
                <a href="{{ url('core:event-list') }}" class="fw-bold ">
                    See more events <i class="fas fa-chevron-right ms-1"></i>
                </a>
            </div>
            <div class="col-6 mb-5">
                <h3 class="fw-bold mb-3">Jobs & appointments</h3>
                <div id="jobs-feed" data-feed-url="{{ feed_urls.jobs }}" data-date-prefix="Apply by" data-limit="3">
                </div>
                <a href="{{ url('core:job-list') }}" class="fw-bold ">
                    See more openings <i class="fas fa-chevron-right ms-1"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="homepage-section" id="resources">
    <div class="container">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6 d-flex flex-column mb-5">
                <h1 class="text-start fw-bold mb-3">{{ page.resources_title }}</h1>
                {% autoescape off %}
                    {{ page.resources_blurb }}
                {% endautoescape %}
                <div class="mb-4">
                    <a href="#" class="btn btn-lg btn-primary">
                        <h4 class="fw-bold mb-0">All resources</h4>
                    </a>
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <h3 class="fw-bold mb-3">Latest video content</h3>
                {% with social_settings=settings("core.SocialMediaSettings", use_default_site=True) %}
                <div id="youtube-feed" data-feed-url="{{ feed_urls.youtube }}" data-limit="4"></div>
                <a href="{{ social_settings.youtube_url }}" class="fw-bold ">
                    CoMSES Net on Youtube <i class="fas fa-chevron-right ms-1"></i>
                </a>
                {% endwith %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
{{ vite_asset('apps/homepage_feeds.ts') }}
<script src="{{ static('js/background-animation.js') }}" defer></script>
{% endblock %}