{% extends "base.jinja" %}

{% block introduction_section %}
    <section class='landing-page-introduction'>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <h1 class='text-white'>A growing collection of resources for <br>computational model-based science.</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <h3 class='text-white'>an international community and cyberinfrastructure to support transparency and
                        reproducibility for computational models &amp; their digital context + educational resources and FAQ's for agent based modeling</h3>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <a class='btn btn-primary' href='{{ url("library:codebase-list") }}'>Browse the Model Library</a>
                </div>
            </div>
        </div>
    </section>
    {% with site_settings=settings("core.SiteSettings", use_default_site=True) %}
        {% if site_settings.has_banner %}
            <section class='banner'>
                <div class='alert alert-warning' role='alert'>
                    <h1 class='alert-heading text-center'>
                        <a href='{{ site_settings.banner_destination_url }}'>
                            <i class='fas fa-bullhorn'>
                            </i>
                            {{ site_settings.banner_message_title }}
                            <i class='fas fa-bullhorn'></i>
                        </a>
                    </h1>

                    <div class='mx-5'>
                        <em>Posted {{ site_settings.last_modified.strftime('%B %-d, %Y') }}</em>
                        <div class='text-left font-weight-bold my-2'>
                            {% autoescape off %}
                                {{ site_settings.banner_message }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block page %}
<section class='mission'>
    <div class='mx-2'>
        {{ page.mission_statement }}
        <br>
        <a href='{{ slugurl("about") }}'>Learn more</a>
    </div>
</section>
<div class='container'>
    {# FIXME: this should be extracted and moved into the DB as well like CategoryIndexPage callouts #}
    <section class='callouts'>
        <div class='row'>
            <div class='col'>
                <a href='{{ url("library:codebase-add") }}'>
                    <img src='{{ static("images/icons/submit.png") }}' alt='Publish your code'>
                    <h3>Publish your Code</h3>
                </a>
                <div class='caption'>
                    Preserve the <a href='https://www.acm.org/publications/policies/artifact-review-badging'>digital
                    artifacts</a> used to derive a publishable finding in an open digital repository that supports
                    discovery and good practices for <a href='https://peerj.com/articles/cs-86/'>software citation</a>,
                    reproducibility, and reuse.
                </div>
            </div>
            <div class='col'>
                <a href='{{ slugurl("resources") }}'>
                    <img src='{{ static("images/icons/search.png") }}' alt='Resources for Computational Modelers'>
                    <h3>Resources for Modelers</h3>
                </a>
                <div class='caption'>
                    <ul class="mb-0">
                        <li><a href='{{ slugurl("education") }}'>Educational resources</a></li>
                        <li><a href='{{ slugurl("standards") }}'>Computational modeling standards</a></li>
                        <li><a href='{{ slugurl("modeling-frameworks") }}'>Software frameworks</a> for agent based / computational modeling</li>
                        <li><a href='{{ slugurl("guides-to-good-practice") }}'>Guides to good practice</a> for developing, documenting, and archiving computational models</li>
                        <li>An <a href='{{ slugurl("open-code-badge") }}'>Open Code Badge</a> to mark computational models that meet baseline standards for accessibility and reuse</li>
                    </ul>
                </div>
            </div>
            <div class='col'>
                <a href='{{ url("home:event-list") }}'>
                    <img src='{{ static("images/icons/groups.png") }}' alt='Upcoming Events'>
                    <h3>Upcoming Events</h3>
                </a>
                <div class='caption'>
                    Upcoming conferences, workshops, and events of interest for the computational modeling community.
                    CoMSES also organizes and <a href='{{ slugurl("conference") }}'>hosts an annual Virtual
                    Conference every October</a> with a mix of community submitted and invited video presentations.
                </div>
            </div>
        </div>
    </section>
</div>
<section class='featured-content'>
    <h1>Featured Models</h1>
    <div id='featured-content-carousel' class='carousel slide' data-ride='carousel' data-pause='hover'>
        <ol class="carousel-indicators">
            {% for _ in featured_content %}
                <li data-target="#featured-content-carousel" data-slide-to="{{ loop.index0 }}"
                    {% if loop.index0 == 0 %}class='active'{% endif %}>
                </li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for item in featured_content %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-4 mx-auto my-auto carousel-image'>
                                <a class='d-block' href='{{ item.link }}'>
                                    {{ image(item.featured_image, "fill-350x350", class='d-block img-fluid float-right') }}
                                </a>
                            </div>
                            <div class='col-md-8 mx-auto my-auto carousel-text'>
                                <div class='carousel-caption my-auto'>
                                    <h3><a href='{{ item.link }}'>{{ item.title }}</a></h3>
                                    <p>
                                    {{ item.summary }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#featured-content-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#featured-content-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section class='community'>
    <h1>Our Community</h1>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                {{ markdown(page.community_statement) }}
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <div class='row'>
                    <div class='col-9'>
                        <h3>Recent Forum Posts</h3>
                    </div>
                    <div class='col-3 text-right'>
                        <small><a class='text-right' href='{{ DISCOURSE_BASE_URL }}'>View Forum</a></small>
                    </div>
                </div>
                {% for post in recent_forum_activity %}
                    <div class='activity'>
                        <h4><a href='{{ post.url }}'>{{ post.title }}</a></h4>
                        <small class='text-muted'>Posted by 
                            {% if post.submitter_url %}
                            <a href='{{ post.submitter_url }}'>{{ post.submitter_name }}</a>
                            {% else %}
                            {{ post.submitter_name }}
                            {% endif %}
                            - {{ post.date_created.strftime('%c') }}
                        </small>
                    </div>
                {% endfor %}
            </div>
            <div class='col-1'>
            </div>
            <div class='col'>
                <div class='row'>
                    <div class='col-10'>
                        <h3>Latest Jobs &amp; Appointments</h3>
                    </div>
                    <div class='col-2 text-right'>
                        <small><a href='{{ url("home:job-list") }}'>View All</a></small>
                    </div>
                </div>
                {% for item in latest_jobs %}
                    <div class='activity'>
                        <h4><a href='{{ item.get_absolute_url() }}'>{{ item.title }}</a></h4>
                        <p>
                        <small class='text-muted'>
                            {{ item.summary }}
                        </small>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
