{% extends 'base.jinja' %}

{% from "common.jinja" import list_page, paginator, breadcrumb, search_bar %}

{% block introduction %}<h1>Search Results</h1>{% endblock %}

{% block breadcrumb %}
{{ breadcrumb([{'text': 'Computational Model Library'}]) }}

{{ search_bar(request, "/search/", "Search CoMSES.Net", current_query) }}
<div class="pb-1">
    {{ paginator('home:search', __all__) }}
</div>
{% endblock %}

{% block content %}
{% for result in results %}
<div data-cy="search-result" class="card">
    <div class="card-header">{{ result.type.title() }} - <a href="{{ result.url }}">{{ result.title|default("Not
            available") }}</a></div>
    <div class="card-body">
        {{ result.description|default("No description available", true) }}
    </div>
</div>
{% else %}
No matching results found
{% endfor %}
{% endblock %}
