{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav %}

{% block introduction %}<h1>{{ page.heading }}</h1>{% endblock %}

{% macro description() %}
<div class="pt-3 lead">
    {% autoescape false %}
        {{ page.description.rendered }}
    {% endautoescape %}
</div>
{% endmacro %}

{% block content %}
    {{ breadcrumb(page.get_breadcrumbs()) }}
    {{ subnav(page.get_navigation_links()) }}
    {% if page.jumbotron %}
        <div class="jumbotron">
            <h1>{{ page.title }}</h1>
            {{ description() }}
        </div>
    {% else %}
        {{ description() }}
    {% endif %}
    <div class="tutorial">
        {% autoescape false %}
            {{ page.body.rendered }}
        {% endautoescape %}
    </div>
{% endblock %}
