-r requirements.txt
# dev requirements
black
coverage
coveralls
django-debug-toolbar
django-debug-toolbar-request-history
django-fixture-magic
# https://hypothesis.readthedocs.io/en/latest/django.html
hypothesis[django]
sphinx
sphinx_rtd_theme
django>=4.2.15 # not directly required, pinned by Snyk to avoid a vulnerability
