bagit==1.6.3
bleach==2.1.2
dealer==2.0.5
django>=1.11.0,<2.0.0
-e git+https://github.com/pennersr/django-allauth.git#egg=django-allauth
# django-allauth==0.36.0
django-extensions==1.9.9
django-guardian==1.4.9
django-ipware==2.0.1
django-jinja==2.4.1
django-location-field==2.0.3
django-markupfield==1.4.3
django-model-utils==3.1.1
django-recaptcha==1.4.0
django-redis==4.9.0
django-rest-auth==0.9.3
django-rest-swagger==2.1.2
django-reversion==2.0.13
django-robots==3.0
django-timezone-field==2.0
django-webpack-loader
djangorestframework==3.7.7
djangorestframework-jsonapi==2.4.0
djangorestframework-jwt==1.11.0
elasticsearch-dsl>=5.0.0,<6.0.0
elasticsearch>=5.0.0,<6.0.0
html2text>=2016.9.19
markdown==2.6.11
nltk>=3.2.5,<4.0.0
psycopg2==2.7.4
pygit2==0.24.2
raven==6.5.0
semver==2.7.9
uwsgi==2.0.17
wagtail==1.13.1
wagtailmenus==2.6
# deployment and management command dependencies
beautifulsoup4==4.6.0
dealer==2.0.5
invoke
ipython
rarfile
# CoMSES citation app
-e git+https://github.com/comses/citation.git#egg=citation
# NLP dependencies (disabled for the interim)
