{% extends "base.jinja" %}

{% set password_reset_url=url('account_reset_password') %}

{% block title %}CoMSES Net Sign In{% endblock %}

{% block introduction %}
    <h1>Sign In</h1>
{% endblock %}

{% block content %}
{% set has_errors=form.non_field_errors() %}
{% if has_errors %}
    <div class='alert alert-danger'>
        The username/email and password combination you entered didn't match our records.
        <a href="{{ password_reset_url }}">Reset your password?</a>
    </div>
{% endif %}
<p class='lead'>
Sign in or sign up with an existing <a href='https://github.com'>GitHub</a> or <a href='https://orcid.org'>ORCID</a>
account. If you have an existing CoMSES Net account, sign into your account first using your username / password below
and then visit <a href='{{url("home:account-profile")}}#local-signin'>your account profile page</a> to link your accounts. 
</p>
<div class="row">
    <div class='col-6'>
        <a class='text-left btn btn-lg btn-outline-primary' href="{{ provider_login_url(request, 'github') }}"><i class='fa fa-github text-gray'></i> Sign in with GitHub</a>
        <p><small>GitHub is a web-based hosting service for the Git version control system that offers unlimited
            public repositories and collaborators. Sign up at <a href='https://github.com/join'>GitHub</a></small></p>
    </div>
    <div class='col-6'>
        <a class='text-left btn btn-lg btn-outline-primary' href="{{ provider_login_url(request, 'orcid') }}">
            <i class='ai ai-orcid text-orcid'></i> Create or connect your ORCID iD
        </a>
        <p><small><a href='/about/orcid/'>Why do we ask for your ORCID?</a> ORCID provides a persistent digital identifier that distinguishes you from other researchers. Learn more at <a href='//orcid.org'>orcid.org</a></small></p>
    </div>
</div>
<hr>
<div class='row'>
    <div class="col">
        <h3><a class='anchor' id='local-signin'></a>Sign in with your CoMSES Net Account</h3>
        <p>
        New user? You can sign up using the social auth buttons above or 
        <a href='/accounts/signup/'>create a new CoMSES Net account</a>.
        </p>
{# FIXME: temporary alert, remove after X days #}
<div class='alert alert-info'>
    <i class='fa fa-2x fa-exclamation-circle'></i> 
    Existing openabm.org accounts have been migrated but you'll need to <a href='{{password_reset_url}}'>request a password reset</a> in order to login. Sorry for the inconvenience! 
    <ul>
        <li>Usernames have been converted to all lowercase for standardization.</li>
        <li>You can use the email address you used to register at openabm.org to login.</li>
        <li>If you still have trouble accessing your openabm.org account, please <a href='{{ slugurl("contact") }}'>contact us</a>.</li>
    </ul>
</div>
        <form id='signin-form' role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            <div id='login' class='form-group'>
                <input autofocus name='login' type='text' class='form-control {{ 'is-invalid' if has_errors }}' placeholder='Username or email'>
            </div>
            <div id='password' class='form-group'>
                <input name='password' type='password' class='form-control {{ 'is-invalid' if has_errors }}' placeholder='Password'>
                <small><a href="{{ password_reset_url }}">Forgot your password?</a></small>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class='fa fa-sign-in'></i> Sign In
            </button>
        </form>
    </div>
</div>
{% endblock content %}
