{% extends "base.jinja" %}

{% set password_reset_url=url('account_reset_password') %}

{% block title %}CoMSES Net Sign In{% endblock %}

{% block introduction %}
    <h1>Sign In</h1>
{% endblock %}

{% block content %}
{% set has_errors=form.non_field_errors() %}
{% if has_errors %}
    <div class='alert alert-danger'>
        The username/email and password combination you entered didn't match our records.
        <a href="{{ password_reset_url }}">Reset your password?</a>
    </div>
{% endif %}
<p class='lead'>
Social sign in is available with an existing <a href='https://github.com'>GitHub</a> or <a href='https://orcid.org'>ORCID</a>
account. If you have an existing CoMSES Net account and want to add social sign in to your account, first sign in
normally using your username / password below and then visit <a href='{{url("home:account-profile")}}#local-signin'>your
account profile page</a> to link your accounts. 
</p>
{% include "includes/socialauth_login.jinja" %}
<hr>
<div class='row'>
    <div class="col">
        <h3><a class='anchor' id='local-signin'></a>Sign in with your CoMSES Net Account</h3>
        <p>
        New user? You can sign up using the social auth buttons above or 
        <a href='/accounts/signup/'>create a new CoMSES Net account</a>.
        </p>
        <form id='signin-form' role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            <div id='login' class='form-group'>
                <input name='login' type='text' class='form-control {{ 'is-invalid' if has_errors }}' placeholder='Username or email'>
            </div>
            <div id='password' class='form-group'>
                <input name='password' type='password' class='form-control {{ 'is-invalid' if has_errors }}' placeholder='Password'>
                <small><a href="{{ password_reset_url }}">Forgot your password?</a></small>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class='fas fa-sign-in-alt'></i> Sign In
            </button>
        </form>
    </div>
</div>
{% endblock content %}
