{% extends "base.jinja" %}

{% block title %}{% trans %} Signup for a CoMSES Net Account{% endtrans %}{% endblock %}

{% block introduction %}
<h1>{% trans %}Join CoMSES Net{% endtrans %}</h1>
{% endblock %}

{% block content %}
<div class='alert alert-info'>
    {% trans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endtrans %}
</div>
<p class='lead'>
As a scientific community of practice, members of the CoMSES Network have access to a suite of community
resources and also share a responsibility to contribute to the community. CoMSES members will enjoy increased
benefits as this international community grows and builds this resource base. Public content include discussion
forums, events, jobs and appointments, educational materials, bibliographic references, and published models in
the Computational Library.
</p>
<p>
There are two categories of membership in the network, <em>Basic</em> and <em>Full Members</em>.
</p>
{% include 'includes/membership.jinja' %}
<form class="signup" id="signup_form" method="post">
    {% include "includes/form.jinja" %}
    <button type="submit" class='btn btn-primary'>{% trans %} Sign Up{% endtrans %}</button>
</form>

{% endblock %}
