{% extends "base.jinja" %}

{% block title %}{% trans %} Signup for a CoMSES Net Account{% endtrans %}{% endblock %}

{% block introduction %}
<h1>{% trans %}Join CoMSES Net{% endtrans %}</h1>
{% endblock %}

{% block content %}
<div class='alert alert-info'>
    {% trans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endtrans %}
</div>
<p class='lead'>
As a scientific community of practice, members of the CoMSES Network have access to a suite of community
resources and also share a responsibility to contribute to the community. CoMSES members will enjoy increased
benefits as this international community grows and builds this resource base. Public content include discussion
forums, events, jobs and appointments, educational materials, bibliographic references, and published models in
the Computational Library.
</p>
<p>
There are two categories of membership in the network, <em>Basic</em> and <em>Full Members</em>.
</p>
<ul class='nav nav-tabs' role='tablist'>
    <li class='nav-item'>
        <a class='nav-link active' data-toggle='tab' role='tab' href='#privilege'>Membership Privileges</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link' data-toggle='tab' role='tab' href='#responsibility'>Responsibilities</a>
    </li>
</ul>
<div class='tab-content'>
    <div class='tab-pane active' id='privilege' role='tabpanel'>
        <div class='p-3'>
            <h2 id='basic-privileges' class='title'>Basic and Full Member Privileges</h2>
            <ul>
                <li><b>Upload new models to the Model Library</b></li>
                <li><b>Contribute to the general CoMSES discussion forums, submit job openings and events to the events calendar</b></li>
                <li><b>Enter personalized member profile information.</b> However, only full members have full access to other
                    users&apos; profile information</li>
            </ul>
            <h2 id='full-member-privileges' class='title'>Full Members Privileges</h2>
            <ul>
                <li><b>Apply for access to the high performance computing cluster at Arizona State University for model execution.</b>
                    This is a special agreement with ASU’s computing resources group for the CoMSES Network.</li>
                <li><b>Contribute to the Education section of the OpenABM website.</b></li>
                <li><b>Create special interest groups with web-pages and online collaboration tools.</b></li>
                <li><b>Receive assistance in preparing complex models for submission to the Model Library.</b> This will be on
                    a per-application basis and dependent on available funds for RA support.</li>
                <li><b>Request one’s models be certified by the CoMSES Model Review Group.</b> We will create review
                    boards, similar to those for journal articles, to formally review models submitted for
                    certification. Certified models are tested to run and produce the kinds of output that they claim to
                    produce. They also will be accompanied by metadata and documentation that meets CoMSES approved
                    standards and is sufficient to allow other scientists to understand the operations of the
                    model.
                </li>
                <li><b>Add relevant modeling publications to the Bibliographic Library.</b> Members can citations to
                    publication written by themselves or by others that they feel would contribute to a better
                    understanding of computational modeling in the social and life sciences.
                </li>
                <li><b>Access contributed datasets for model testing.</b> We are establishing a data archive for test datasets
                    to be contributed by CoMSES members.</li>
                <li><b>Apply for funds to organize symposia and training sessions related to computational models at
                        professional meetings.</b> These will be provided on a by-application basis and are dependent on
                    available funds.</li>
            </ul>
        </div>
    </div>
    <div class='tab-pane' id='responsibility' role='tabpanel'>
        <div class='p-3'>
            <h2 id='basic-responsibilities' class='title'>Responsibilities of all CoMSES Network Members</h2>
            <ul>
                <li>Properly credit the research of scientists who submit models to the library through appropriate
                    citation or acknowledgement in publications and presentation.</li>
                <li>Use scientific computational modeling in ethical ways that benefit the larger human community.</li>
                <li>Share expertise in computational modeling with other network members and helping them gain
                    competence in applying these new approaches in scientific work.</li>
            </ul>
            <h2 id='full-member-responsibilities' class='title'>Full Member Responsibilities</h2>
            <p>Full members are also expected to assist the CoMSES community to develop and manage its common knowledge
            resources by:
            </p>
            <ul>
                <li>Participating in self governance of the network</li>
                <li>Assisting with the evaluation of models submitted for certification</li>
                <li>Contributing to the shared resources of the network through submitting models to the library,
                    datasets for model testing, bibliographic references, education materials, or other model-related
                    resources</li>
                <li>Depending on expertise, full members may also become resource stewards who help manage the CoMSES
                    Net website and internet resources
                </li>
            </ul>
        </div>
    </div>
</div>
<form class="signup" id="signup_form" method="post">
    {% include "includes/form.jinja" %}
    <div class='form-group row'>
        <div class='offset-md-2 col-sm-8'>
            <button type="submit" class='btn btn-primary'>{% trans %} Sign Up{% endtrans %}</button>
        </div>
    </div>
</form>

{% endblock %}
