$text-color: #6d6c71;
$link-color: #22b1e6;
$button-color: #92c02e;
$rules-color: #ced9ee;
$link-hover: darken($text-color, 20%);
$button-hover: darken($button-color, 20%);
$background-color: #f0f4fa;

$brand-primary: $button-color;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fontlibrary.org/face/u-din-1451-mittelschrift');

$font-family-base: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: '../node_modules/font-awesome/fonts/';
@import '../node_modules/font-awesome/scss/font-awesome';

.logo {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-image: url("./assets/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  height: 64px !important;
  width: 283px !important;
}

.social-media {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.social-media li {
  display: inline-block;
  text-align: center;
}

.social-media a {
  font-size: 32px;
}

.social-media a .fa-stack {
  color: #6f717a;
}

.social-media a .fa-stack:hover {
  color: #7b7d87;
}

.organizations li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.introduction {
    /* FIXME: pull full background-introduction.png from PSDs instead of halved version from comses.net landing page */
  background: #f0f4fa url("./assets/images/background-introduction.png") repeat top center;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  /*
   Move carousel down so that it is below header
   We could polyfill position:sticky for Chrome instead
    */
  margin-top: 105px;

  h1, h2, h3, h4 {
      padding-top: 40px;
      font-family: 'Abel', 'Open Sans', sans-serif;
      color: white;
      font-weight: 200;
  }
  h1 {
      font-size: 3.5em;
  }
  h4 {
      font-size: 1em;
      text-transform: uppercase;
      padding-bottom: 30px;
  }
  a {
      padding: 20px;
  }
}

.mission {
    background: #eee;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;


}


/* FIXME: update for the gray Featured Content carousel, http://clients.fervorcreative.com/proofs/asu/comses/r2/#1 */
.carousel {
  background: #f0f4fa url("./assets/images/background-footer.png") repeat top center;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: middle;

  /*
   Move carousel down so that it is below header
   We could polyfill position:sticky for Chrome instead
    */
  margin-top: 105px;
}

.carousel h1,
.carousel h4,
.carousel p {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

header {
  padding: 20px 0;
  background-color: $white;
}

footer {
  padding: 75px 0;
  background-image: url("./assets/images/background-footer.png");
  color: $white;
}

.content-block {
  padding: 20px 0;
}

.compact {
  padding: 2px 2px;
}

// Special Cards for carousel, frontpage three across and two across
