$rules-color: lighten(#ced9ee, 5%);
/*
 * Bootstrap Overrides
 */
$text-color: #6d6c71;
$link-color: #22b1e6;
$brand-primary: #92c02e;
$link-hover: darken($text-color, 20%);
$button-hover: darken($brand-primary, 20%);
$white: #f0f4fa;
$body-bg: $white;
$light-blue-gray: #ced9ee;
$default-padding: 60px;

// Button Overrides
$btn-secondary-bg: $link-color;
$btn-secondary-color: #fff;
$btn-secondary-border: $link-color;

// Font Size Overrides
$font-size-h1: 1.8rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.4rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1.1rem;
$font-size-h6: 1.0rem;

// Components overrides
$border-radius: .0rem;
$border-radius-sm: .0rem;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abel');

$font-family-base: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: '../node_modules/font-awesome/fonts/';
@import '../node_modules/font-awesome/scss/font-awesome';
// Need to fix webpack build so css in vue files is included. This is a temporary workaround
@import '../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

.logo {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-image: url("./assets/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  height: 64px !important;
  width: 283px !important;
}

.page {
  padding-top: $default-padding;
  padding-bottom: $default-padding;
}

.social-media {
  list-style: none;
  padding-left: 0;
  text-align: center;
  li {
    display: inline-block;
  }
  a {
    font-size: 32px;
  }
  a .fa-stack {
    color: #6f717a;
  }
  a .fa-stack:hover {
    color: #7b7d87;
  }
}

.organizations li {
  display: inline-block;
  margin: 10px 10px 0px 10px;
}

.landing-page-introduction {
  overflow: hidden;
  margin-top: 105px;
  background: url("./assets/images/background-introduction.png") repeat top center;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  height: 480px;
  h1, h2, h3, h4 {
    padding-top: 40px;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: white;
    font-weight: 200;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
}

.introduction {
  overflow: hidden;
  margin-top: 105px;
  background: url("./assets/images/background-introduction-200.png") repeat top center;
  text-align: left;
  vertical-align: middle;
  height: 125px;
  /*
   Move introduction below header
   We could polyfill position:sticky for Chrome instead
   */

  h1, h2, h3, h4 {
    padding-top: 45px;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: white;
    font-weight: 200;
  }
  a {
    padding: 20px;
  }
}

ol.breadcrumb {
  margin-top: -50px;
  padding-bottom: 30px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: $white;
}

.callouts {
  padding-top: 50px;
  img {
    display: block;
    margin: auto;
    height: 50px;
  }
  h3 {
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
  }
}

.featured-content {
  h1 {
    text-align: center;
    color: $white;
  }
}

.community {
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  h1 {
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .row {
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

.mission {
  background-color: $light-blue-gray;
  text-align: center;
  vertical-align: middle;
  padding-top: $default-padding;
  padding-bottom: $default-padding;
}

div.activity {
  padding: 10px 5px 10px 5px;
}

.featured-content {
  background: url("./assets/images/background-featured-content.png") repeat top center;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  vertical-align: middle;
  margin-top: 105px;
  font-family: 'Open Sans', sans-serif;
  color: $white;
  font-weight: 300;

  #featured-content-carousel {
    height: 350px;
  }

  h1 {
    text-align: center;
  }

  .carousel-inner {
    height: 350px;
    overflow: visible;
  }
  .carousel-text {
    margin-left: -200px;
  }
  .carousel-item {
    height: 320px;
  }
  .carousel-caption {
    text-align: left;
  }
  .row {
    height: 320px;
  }
}

.errorlist {
  @extend .alert-danger;
}

nav {
  background-color: $white;
  .nav-link {
    font-size: .8em;
    color: $text-color;
  }
  .nav-link:hover {
    text-decoration: underline;
  }
}

footer {
  padding: 75px 0;
  background-image: url("./assets/images/background-footer.png");
  color: $white;
  .row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.content-block {
  padding: 20px 0;
}

.compact {
  padding: 2px 2px;
}

.search-result {
  @extend .card;
  h1 {
    font-size: 1em;
  }
}

.search-result {
  border-left: none;
  border-right: none;
  padding-top: 2em;
  padding-bottom: 2em;

  .date-info {
    @extend .card-title;
  }

  .title {
    @extend .card-block;
    padding: 0;

    h1 {
      font-weight: 700;
    }
  }

  .summary {
    @extend .card-block;
    padding: 0;
  }

  .tag-list {
    @extend .card-block;
    padding: 1em 0 0;

    .tag {
      padding: 0.75em;
      @extend .badge;
      background-color: $rules-color;
      color: $link-color;
    }
  }
}

.tags {
  @extend .card-block;
  padding: 1em 0 0;
  .tag {
    padding: 1em;
    @extend .badge;
    background-color: $rules-color;
    color: $link-color;
  }

  a.tag:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

.card-metadata {
  @extend .card;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: $rules-color;
  border: none;

  .card-title {
    @extend .card-block;
    padding: 0 1.25rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.datepicker-clear-button {
  @extend .input-group-addon;
}

.datepicker-clear-button:hover {
  color: red;
}

// Responsive Typography

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 13px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}
