$text-color: #6d6c71;
$link-color: #22b1e6;
$button-color: #92c02e;
$rules-color: #ced9ee;
$link-hover: darken($text-color, 20%);
$button-hover: darken($button-color, 20%);
$white: #f0f4fa;
$body-bg: $white;
$light-blue-gray: #c3d9ee;
$default-padding: 60px;

$brand-primary: $button-color;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abel');

$font-family-base: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: '../node_modules/font-awesome/fonts/';
@import '../node_modules/font-awesome/scss/font-awesome';
// Need to fix webpack build so css in vue files is included. This is a temporary workaround
@import '../node_modules/vue-multiselect/dist/vue-multiselect.min.css';


.logo {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-image: url("./assets/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  height: 64px !important;
  width: 283px !important;
}

.page {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
}

.social-media {
  list-style: none;
  padding-left: 0;
  text-align: center;
  li {
      display: inline-block;
  }
  a {
      font-size: 32px;
  }
  a .fa-stack {
      color: #6f717a;
  }
  a .fa-stack:hover {
      color: #7b7d87;
  }
}

.organizations li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.introduction {
  background: url("./assets/images/background-introduction.png") repeat top center;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  /*
   Move introduction below header
   We could polyfill position:sticky for Chrome instead
    */
  margin-top: 105px;

  h1, h2, h3, h4 {
      padding-top: 40px;
      font-family: 'Abel', 'Open Sans', sans-serif;
      color: white;
      font-weight: 200;
  }
  h1 {
      font-size: 3.5em;
  }
  h2 {
      font-size: 1em;
      text-transform: uppercase;
      padding-bottom: 30px;
  }
  a {
      padding: 20px;
  }
}

.callouts {
    padding-top: 50px;
    img {
        display: block;
        margin: auto;
    }
    h3 {
        text-align: center;
        padding: 1em;
        font-size: 1.2em;
    }
}
.featured-content {
    h1 {
        text-align: center;
        color: $white;
    }
}

.recent-activity {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
}
.community-highlight {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    text-align: center;
    background-color: $light-blue-gray;
}
.mission {
    background-color: $light-blue-gray;
    text-align: center;
    vertical-align: middle;
    padding-top: $default-padding;
    padding-bottom: $default-padding;
}
.carousel {
  background: url("./assets/images/background-featured-content.png") repeat top center;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  margin-top: 105px;
  font-family: 'Open Sans', sans-serif;
  color: $white;
  font-weight: 300;
}

.errorlist {
    @extend .alert-danger;
}

header {
  padding: 20px 0;
  background-color: $white;
}

footer {
  padding: 75px 0;
  background-image: url("./assets/images/background-footer.png");
  color: $white;
}

.content-block {
  padding: 20px 0;
}

.compact {
  padding: 2px 2px;
}
