[default]
DEBUG=True

[database]
DB_NAME=${DB_NAME}
DB_USER=${DB_USER}
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_PASSWORD=${DB_PASSWORD}

[secrets]
SECRET_KEY=${DJANGO_SECRET_KEY}
DISCOURSE_SSO_SECRET=${DISCOURSE_SSO_SECRET:-changeme}

[logging]
LOGGING_DIRECTORY=/shared/logs

[storage]
DATA_ROOT=/shared
LIBRARY_ROOT=/shared/library
REPOSITORY_ROOT=/shared/repository
WEBPACK_ROOT=/shared/webpack
