[default]
DEBUG=True

[database]
DB_NAME={DB_NAME}
DB_USER={DB_USER}
DB_HOST={DB_HOST}
DB_PORT={DB_PORT}
DB_PASSWORD={DB_PASSWORD}

[secrets]
SECRET_KEY={DJANGO_SECRET_KEY}
DISCOURSE_SSO_SECRET={DISCOURSE_SSO_SECRET}

[logging]
LOGGING_DIRECTORY={CONFIG_LOG_ROOT}

[storage]
DATA_STORAGE_ROOT=/data
LIBRARY_ROOT={CONFIG_LIBRARY_ROOT}
REPOSITORY_ROOT={CONFIG_REPOSITORY_ROOT}
STATIC_ROOT={CONFIG_STATIC_ROOT}
WEBPACK_ROOT={CONFIG_WEBPACK_ROOT}
