{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb %}

{% block introduction %}
    <h1 class='pt-0 mt-4'>{{ page.title }}<br>
        {{ format_datetime(page.start_date) }} &mdash; {{ format_datetime(page.end_date) }}
    </h1>
{% endblock %}

{% block content %}
    {{ breadcrumb([{'url': '/community/', 'text': 'Community'}, {'url': '/conference/', 'text': 'CoMSES Virtual Conferences'}, {'text': page.title }])}}
    {% autoescape false %}
        <div class='lead'>
            {{ page.introduction }}
        </div>
        {{ page.content }}
    {% endautoescape %}
    <div class='alert alert-warning'>
        Presentations are posted as forum topics, with top-level conference themes pinned to the top of the
        <a href='{{ page.external_url }}'>conference page</a>. In order to post comments, feedbacks, and engage in
        discussion with the presenters and other participants you will need to
        <a href='{{signup_url}}'>create a comses.net account</a> or
        <a href='{{login_url}}'>sign in with an existing comses.net account</a>.
    </div>
    {% if page.is_accepting_submissions %}
        <div class='alert alert-info'>
                <a href="mailto:conference@comses.net?subject=CoMSES Virtual Conference Abstract Submission">Email your abstract to conference@comses.net</a>
            {% autoescape false %}
                {{ page.submission_information }}
            {% endautoescape %}
        </div>
    {% elif page.is_archived %}
        <div class='alert alert-info'>
        <i class='fas fa-exclamation-triangle'></i>
        {{ page.title }} is now over and so you might not receive any response from the original authors, but the presentations and comments are still available.
        </div>
        <a class='btn btn-lg btn-primary' href='{{ page.external_url }}'>View the archived conference</a>
    {% elif page.is_open %}
        <a class='btn btn-lg btn-primary' href='{{ page.external_url }}'>Join the conference</a>
    {% else %}
        <div class='alert alert-info'>
            Submissions are now closed and being evaluated. Please check back again on {{ format_datetime(page.start_date) }}.
        </div>
    {% endif %}
    {% for theme in page.themes.order_by('category') %}
        <div class='card my-3'>
            <h3 class='card-header'>
                <span class='p-1 badge-comses badge-secondary'>{{theme.category}}</span>
                <a href='{{theme.external_url}}'>{{ theme.title }}</a>
            </h3>
            <div class='card-body'>
                {% autoescape false %}
                    {{ theme.description }}
                {% endautoescape %}
                <ul>
                    {% for presentation in theme.presentations.all() %}
                        <li>{% for contributor in presentation.contributors.all() -%}
                                <a class='badge badge-success contributor' href='{{contributor.member_profile_url}}'>{{ contributor.get_full_name() }}</a>
                            {% endfor -%}
                            <a class='text-gray' href='{{ presentation.external_url }}'><em>{{ presentation.title }}</em></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
