{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav %}

{% block introduction %}
    <h1>CoMSES Virtual Conferences</h1>
{% endblock %}
{% block content %}
    {{ breadcrumb([{'url': '/community/', 'text': 'Community'}, {'text': 'CoMSES Virtual Conferences' }])}}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1 class="display-5">CoMSES Virtual Conferences</h1>
        <p class='pt-4 lead'>
        CoMSES Net hosted its inaugural virtual conference in 2017 to provide an interactive venue for the computational
        modeling community with video presentations and feedback provided in an asynchronous format
        via our <a href='https://www.discourse.org/'>Discourse</a> <a target='_blank' href='{{ DISCOURSE_BASE_URL }}'>forums</a>.
        </p>
    </div>
    <a class='btn btn-primary' href='{{ page.get_children().live().last().url }}'>Join the latest conference</a>
    <br/>
    <br/>
    <h2>Past Conferences</h2>
    <ul class='list-group list-order'>
        {% for conference in page.conferences() %}
            <a href='{{ conference.url }}'>
            <li class='list-group-item box'>
                    <h5 class="conference-title">{{conference.title }}</h5>
                    <span class="conference-body">{{ conference.start_date|format_datetime }} &mdash; {{ conference.end_date|format_datetime }}</span>
            </li>
            </a>
            <br/>
        {% endfor %}
    </ul>
{% endblock %}
