{% extends "base.jinja" %}

{% block title %}Submit a presentation for {{ conference.title }}{% endblock %}

{% block introduction %}<h1>Submit a presentation for {{ conference.title }}</h1>{% endblock %}

{% block extra_css %}
    {{ form.media }}
{% endblock extra_css %}

{% block content %}
    <div class='lead'>
    {{ conference.introduction|safe }}
    </div>

    <p>
    Please fill out the following form if you'd like to submit a video presentation for {{ conference.title }}. Videos
    must be <a href='https://support.google.com/youtube/answer/57407'>uploaded to YouTube</a>. Thanks for contributing!
    </p>

    <form class="signup" id="signup_form" method="post">
        {% include "includes/form.jinja" %}
        {% for checkboxId, description in conference_requirements %}
            <div class='form-check'>
                <input class='form-check-input' required type='checkbox' name='requirements' value='' id='{{checkboxId}}'>
                <label class='form-check-label' for='{{checkboxId}}'>
                    {{ description }}
                </label>
            </div>
        {% endfor %}
        <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
{% endblock %}
