{% extends "base.jinja" %}
{% from "common.jinja" import subnav %}

{% block title %}Welcome to the CoMSES Net Community{% endblock %}

{% block introduction %}
    <h1>Community</h1>
{% endblock %}

{% block content %}
{{ subnav([
{ 'url': '/community/', 'text': 'Community', 'active': True },
{ 'url': DISCOURSE_BASE_URL, 'text': 'Forum' },
{ 'url': url("home:profile-list"), 'text': 'Users' },
{ 'url': url("home:job-list"), 'text': 'Jobs' },
])
}}
<div class='jumbotron'>
    <h1 class='display-5'>Welcome to the Community</h1>
    <p class='lead'>
    {{ page.summary|markdown }}
    </p> 
</div>
<section class='callouts'>
    <div class='row'>
        <div class='col'>
            <a href='{{ url("home:profile-list") }}'>
                <img class='img-fluid' src='{{ static("images/icons/connect.png") }}' alt='Connect with Researchers'>
                <h3>Connect with Researchers</h3>
            </a>
            <div class='caption'>
                Preserve the complete digital pipeline used to derive a publishable finding. Other researchers will be able to
                discover, cite, and run your code in a reproducible containerized environment.
            </div>
        </div>
        <div class='col'>
            <a href='{{ url("home:event-list") }}'>
                <img class='img-fluid' src='{{ static("images/icons/events.png") }}' alt='Find Upcoming Events'>
                <h3>Find Upcoming Events</h3>
            </a>
            <div class='caption'>
                Find calls for papers and participate in upcoming conferences, workshops, and other events curated by the CoMSES Net Community.
            </div>
        </div>
        <div class='col'>
            <a href='{{ url("home:job-list") }}'>
                <img class='img-fluid' src='{{ static("images/icons/jobs.png") }}' alt='Search Jobs & Appointments'>
                <h3>Search Jobs &amp; Appointments</h3>
            </a>
            <div class='caption'>
                We maintain an open job board with academic and industry positions relevant to the CoMSES Net Community.
                If you have a job opening to advertise, feel free to post it here.
            </div>
        </div>
    </div>
</section>
{% endblock %}
