{% extends "base.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator, breadcrumb %}

{% block title %}Jobs and Appointments {% endblock %}

{% block introduction %}<h1>Jobs &amp; Appointments </h1>{% endblock %}
{% block breadcrumb %}
    {{ breadcrumb([
    {'text': 'Jobs & Appointments' }
    ]) 
    }}
{% endblock %}

{% block content %}
    <div id="app"></div>
    {{ list_page(__all__, item_component, 'home:job-detail') }}
    <br>
    {{ paginator('home:job-list', __all__) }}
{% endblock %}

{% block js %}
    {{ render_bundle('job_list') }}
{% endblock %}
