{% extends "base.jinja" %}
{% from "common.jinja" import item_component, list_page, paginator %}

{% block title %}Job Search{% endblock %}

{% block introduction %}<h1 id="query">Job Search</h1>{% endblock %}

{% block subheader %}<h1>Jobs</h1>{% endblock %}

{% block content %}
    <div id="app"></div>
    {{ list_page(__all__, item_component, 'home:job-detail') }}
    <br>
    {{ paginator('home:job-list', __all__) }}
{% endblock %}

{% block js %}
    {{ render_bundle('job_list') }}
{% endblock %}
