{% extends "sidebar_layout.jinja" %}
{% from "common.jinja" import permission_button_group, breadcrumb, discourse_embed_script %}

{% block title %}Job: {{ title }}{% endblock %}

{% block introduction %}
    <h1>Job Postings</h1>
{% endblock %}
{% block top %}
    {{ breadcrumb([
    {'url': url('home:job-list'), 'text': 'Jobs & Appointments' },
    {'text': title }
    ]) }}
{% endblock %}

{% block content %}
    <div id="content">
        <h1>{{ title }}</h1>
        {{ markdown(description)|safe }}
    </div>
    <div class="btn-group">
        {% if has_change_perm %}
            <a type="button" class="btn btn-primary btn-sm" href="{{ url('home:job-update', pk=id) }}">Edit</a>
        {% endif %}
        {% if has_delete_perm %}
            <a type="button" class="btn btn-danger btn-sm" href="{{ url('home:job-detail', pk=id) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card-metadata">
        <div class="card-block">
            <small>
                <b class="card-title">Contact</b>
                <br>
                <b class="card-title">Date Published</b>
                <p class="card-text">{{ date_created }}</p>
                <b class="card-title">Last Updated</b>
                <p class="card-text">{{ last_modified }}</p>
                <b class="card-title">Views</b>
                <br>
                <b class="card-title">Status</b>
            </small>
        </div>
    </div>
    <div class="card-metadata">
        <div class="card-block">
            <b>Share</b>
            <span class="col-2 fa fa-linkedin-square"></span>
            <span class="col-2 fa fa-facebook-square"></span>
            <span class="col-2 fa fa-twitter-square"></span>
            <span class="col-2 fa fa-envelope-square"></span>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    <div class="col-12">
        <div id="discourse-comments"></div>
    </div>
{% endblock %}

{% block js %}
    {{ discourse_embed_script() }}
{% endblock %}
