{% extends "base.jinja" %}
{% from "common.jinja" import retrieve_introduction, permission_button_group %}

{% block title %}Job: {{ title }}{% endblock %}

{% block introduction %}
    {{ retrieve_introduction("Job: " + title) }}
{% endblock %}

{% block content %}

    <h6 class="text-right">{{ date_created }}</h6>
    {{ markdown(description)|safe }}
    <div class="btn-group">
        {% if has_change_perm %}
            <a type="button" class="btn btn-primary btn-sm" href="{{ url('home:job-update', pk=id) }}">Edit</a>
        {% endif %}
        {% if has_delete_perm %}
            <a type="button" class="btn btn-danger btn-sm" href="{{ url('home:job-detail', pk=id) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}
