{% macro paginator(url_name, list_state) %}
    <nav aria-label="Paginator">
        <ul class="pagination">
            {% for page in list_state.range %}
                <li class="page-item{% if page == list_state.current_page %} active{% endif %}">
                    <a href="{{ url(url_name) }}?query={{ list_state.query or '' }}&page={{ page }}#query" class="page-link">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro list_page(list_state, search_component, item_component) %}
    {{ search_component() }}
    <div class="list-group row">
        {% for item in list_state.results %}
            {{ item_component(item) }}
        {% endfor %}
    </div>
{% endmacro %}


{% macro foo() %}
    <div>Hello!</div>
{% endmacro %}

{% macro bar(arg) %}
    {{ arg() }}
{% endmacro %}