// @import '~simplemde-theme-base/dist/simplemde-theme-base.min.css';

// Needed to make full screen mode visible
.editor-toolbar.fullscreen, .editor-preview-side, .CodeMirror-fullscreen {
  z-index: $zindex-modal;
}

.child-is-invalid {
  .CodeMirror {
    border-color: $form-feedback-invalid-color;
  }

  .invalid-feedback {
    display: block;
  }
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 125px;
}

.CodeMirror-scroll {
  max-height: 500px;
}
