{% extends "base.jinja" %}

{% block body_class %}template-403{% endblock %}

{% block introduction %}
    <h1>403 Forbidden</h1>
{% endblock %}

{% block content %}
    <h2 class='title'><i class='fas fa-lock'></i> Access denied</h2>

    <p class='lead'>
    You don't currently have the correct permissions to access this resource. Please
    <a href='{{ slugurl('contact') }}'>let us know</a> if this is an error on our end.
    </p>
{% endblock %}
