{% extends "base.jinja" %}

{% block body_class %}template-404{% endblock %}

{% block introduction %}
    <h1>Page not found</h1>
{% endblock %}

{% block content %}
    <h2>Sorry, this resource could not be found.
        That means you either do not have view permission on this resource or it does not exist</h2>
{% endblock %}
