{% extends "base.jinja" %}

{% block body_class %}template-404{% endblock %}

{% block introduction %}
    <h1>Page not found</h1>
{% endblock %}

{% block content %}
    <h2>Resource not found <span class='text-gray'>&#8253;&#8253;&#8253;</span></h2>
    <p class='lead'>
    Sorry, we were unable to resolve your request to anything we can display. This could happen because: 
    </p>
    <ol>
        <li>You don't have view permissions on this resource</li>
        <li>We lost something in the migration from openabm.org</li>
        <li>We have a bug or broken link in our system</li>
        <li>The resource you're trying to access really doesn't exist</li>
    </ol>
    <p>
    If this is our fault, please <a href='/about/contact/'>let us know</a> so we can fix it. Thanks for being a part of
    <a href='/'>comses.net</a>!
    </p>
{% endblock %}
