{% extends "base.jinja" %}

{% block body_class %}template-404{% endblock %}

{% block introduction %}
    <h1>Page not found</h1>
{% endblock %}

{% block content %}
    <h2><span class='text-warning'>&#8253;</span> 404 not found fnuh <span class='text-warning'>&#8253;</span></h2>
    <p class='lead'>
    Sorry, we were unable to resolve your request to anything we can display. This could happen because: 
    </p>
    <ol>
        <li>We lost something in the migration from openabm.org</li>
        <li>We have a bug or broken link in our system</li>
        <li>You don't have permission to view this resource</li>
        <li>The resource you're trying to access actually doesn't exist</li>
    </ol>
    <p>
    If this is our fault, please <a href='/about/contact/'>let us know</a> so we can fix it. Please be sure to include
    the URL you were trying to access and any relevant details. Thank you for being a part of the
    <a href='/'>comses.net</a> community!
    </p>
{% endblock %}
