{% extends "base.jinja" %}

{% block body_class %}template-404{% endblock %}

{% block introduction %}
    <h1>Server Error</h1>
{% endblock %}

{% block content %}
    <h2>Sorry, the server encountered an error when handling your request.</h2>
{% endblock %}
