{% set login_url = url("account_login") %}
{% set logout_url = url("account_logout") %}
{% set signup_url = url("account_signup") %}
{% set contact_url = '/about/contact/' %}
{% set profile_url = url('home:profile-detail', pk=user.pk) if user.is_authenticated else signup_url %}

{% macro navbar() %}
<nav class='navbar navbar-expand-md navbar-light fixed-top'>
    <div class='container'>
        <button class='navbar-toggler navbar-toggler-right align-self-center mt-3' type='button' data-toggle='collapse'
            data-target='#navbar-content' aria-controls='navbar-content' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <a class='navbar-brand pt-3' href='/'>
            <span class="logo">CoMSES Network | OpenABM</span>
        </a>
        <div class='collapse navbar-collapse flex-md-column my-auto justify-content-end' id='navbar-content'>
            <ul class='navbar-nav ml-auto small'>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id='userDropdownMenuLink'
                           data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user-o"></span> {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby='userDropdownMenuLink'>
                            <a class="dropdown-item" href="{{ profile_url }}"><i class='fa fa-user-o'></i> Your Account</a>
                            {# POST logouts, see http://django-allauth.readthedocs.io/en/latest/views.html#logout-account-logout #}
                            <form id='logoutForm' method='post' action='{{ logout_url }}'>
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <input type='submit' style='display: none;'>
                            </form>
                            <a class="dropdown-item" onclick='return submitLogout();' href="{{ logout_url }}"><i class='fa fa-sign-out'></i> Sign Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class='nav-item'>
                        <a class="nav-link" href="{{ login_url }}">Sign In <i class='fa fa-sign-in'></i></a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="{{ signup_url }}">Become a Member</a>
                    </li>
                {% endif %}
            </ul>
            <ul class='navbar-nav ml-auto'>
                {# FIXME: consider replacing with wagtailmenu #}
                <li class="nav-item">
                    <a href="{{ url('library:codebase-list') }}" class="nav-link">Computational Library</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('home:event-calendar') }}" class="nav-link">Events</a>
                </li>
                <li>
                    <a href="/community/" class="nav-link">Community</a>
                </li>
                {#
                <li>
                    <a href="{{ url('home:job-list') }}" class="nav-link">Jobs</a>
                </li>
                #}
                <li class='nav-item'>
                    <a href="{{ DISCOURSE_BASE_URL }}" class='nav-link'>Forums</a>
                </li>
                <li class="nav-item">
                    <a href="/resources/" class="nav-link">Resources</a>
                </li>
                <li class='nav-item'>
                    <a href='/about/' class='nav-link'>About</a>
                </li>
                <li id='search-dropdown' class="nav-item dropdown">
                    <a id='search-button' onclick='focusSearch()' href='/search/' class='p-1 dropdown-toggle' data-toggle='dropdown' aria-expanded='false' aria-haspopup='true'>
                        <i class='fa fa-search'></i>
                    </a>
                    <div id='header-search-form' class='p-2 dropdown-menu' aria-labelledby='search-button'>
                        <form method="get" action="/search/">
                            <input id='header-search-input' type='text' name="query" class='p-2 form-control' placeholder='search entire site' autofocus>
                            <div class='float-right'>
                                <small><a href='/search'>options</a></small>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
function submitLogout() {
    document.getElementById('logoutForm').submit();
    return false;
}
function focusSearch() {
    setTimeout(function() { document.getElementById("header-search-input").focus() }, 0);
}
</script>
{% endmacro %}

{% macro footer() %}
<footer class="footer">
    <div class="container">
        {% if not user.is_authenticated or not user.member_profile.full_member %}
            <div class='row'>
                <div class='col'>
                </div>
                <div class='col text-center'>
                    <a class='btn btn-primary' href='{{ profile_url }}'>Become a member</a>
                </div>
                <div class='col'>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                {% with social_settings=settings("core.SocialMediaSettings", use_default_site=True) %}
                    <ul class="social-media">
                        <li>
                            <a href="https://github.com/{{ social_settings.github_account }}" title="GitHub" target="_blank">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-code-fork fa-inverse fa-stack-1x"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/{{ social_settings.twitter_account }}" title="Follow us at @{{ social_settings.twitter_account }}" target="_blank">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ social_settings.mailing_list_url }}" title="Email Sign Up" target="_blank">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-inverse fa-stack-1x"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                {% endwith %}
            </div>
            <div class="col-xs-12 col-lg-9">
                <ul class="organizations">
                    <li>
                        <a href="http://www.asu.edu/" target="_blank">
                            <img src="{{ static("images/logo-asu.png") }}" alt="Arizona State University">
                        </a>
                    </li>
                    <li>
                        <a href="https://creativecommons.org/" target="_blank">
                            <img src="{{ static("images/logo-cc.png") }}" alt="Creative Commons">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.nsf.gov/" target="_blank">
                            <img src="{{ static("images/logo-nsf.png") }}" alt="National Science Foundation">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright text-center">&copy; 2007 - {{ now('Y') }} CoMSES Net |
    <a class='footer' href='{{ contact_url }}'>Contact us</a>
    </p>
</footer>
{% endmacro %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="google-site-verification" content="MGJRrMB1QSuw2sVcNxZQSMIfZMyfd1h-9LFvhYkiqis" />
        {% if not is_production() -%}
        <meta name='robots' content='noindex,nofollow'>
        {% endif %}
        <title>
            {% block title %}CoMSES Net{% endblock %}
            {% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="CoMSES Net is an international research coordination network dedicated to fostering good practices for computational modeling through cyberinfrastructure and community development."/>

        {# Global stylesheets #}
        {{ render_bundle('styles', 'css') }}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {{ navbar() }}
        {% block introduction_section %}
            <section class='introduction'>
            <div class="container">
                {% block introduction %}
                {% endblock %}
            </div>
            </section>
        {% endblock introduction_section %}
        {% if not is_production() %}
            <div class='alert alert-danger mt-3'>
            <i class='fa fa-warning fa-2x'></i> 
            You are currently accessing a <b>test version of the comses.net website</b>. Information that you
            view or store here will not be preserved and is currently displaying a partial migration of data
            from <a href='//openabm.org'>openabm.org</a>. We <b>will</b> however preserve any user accounts
            created for the <a href='https://www.comses.net/conference/2017/'>CoMSES 2017 virtual conference</a>.
            We expect the final comses.net site to go live towards the end of this quarter and appreciate your
            patience and understanding as we iron out all the bugs.
            Thank you for being a part of <a href='//comses.net'>CoMSES Net</a>!
            </div>
        {% endif %}


        {% block page %}
            <section class='page'>
                <div class="container">
                    {% block breadcrumb %}
                    {% endblock %}
                    {% block content %}
                        <div class="row">
                        </div>
                    {% endblock content %}
                </div>
            </section>
        {% endblock page %}

        {{ footer() }}

        {{ render_bundle('manifest') }}
        {{ render_bundle('vendors') }}

        <script src="//cdn.rawgit.com/imsky/holder/master/holder.js"></script>
        {% block js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        {% with RAVEN_VERSION='3.22.1' %}
            <script src='https://cdn.ravenjs.com/{{RAVEN_VERSION}}/vue/raven.min.js' crossorigin='anonymous'></script>
            <script>Raven.config('{{ sentry_public_dsn() }}').install()</script>
        {% endwith %}
    </body>
</html>
