{% macro paginator(url_name, list_state) %}
    <nav aria-label="Paginator">
        {% if list_state.count %}
            <ul class="pagination">
                {% for page in list_state.range %}
                    {% if loop.first and page != 1 %}
                        <li class="page-item{% if page == list_state.current_page %} active{% endif %}">
                            <a href="{{ url(url_name) }}?{{ list_state.query_params }}&page=1#query"
                               class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                    <li class="page-item{% if page == list_state.current_page %} active{% endif %}">
                        <a href="{{ url(url_name) }}?{{ list_state.query_params }}&page={{ page }}#query"
                           class="page-link">{{ page }}</a>
                    </li>
                    {% if loop.last and page != list_state.n_pages %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        <li class="page-item{% if page == list_state.current_page %} active{% endif %}">
                            <a href="{{ url(url_name) }}?{{ list_state.query_params }}&page={{ list_state.n_pages }}#query"
                               class="page-link">{{ list_state.n_pages }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <span>{{ list_state.count }} results found.</span>
    </nav>
{% endmacro %}

{% macro item_component(item, detail_url_name) %}
    <div class="search-result">
        <div class="date-info">
            <small class="text-muted">Last Updated: {{ item.last_modified }}</small>
            <small class="text-muted pull-right">Created on: {{ item.date_created }}</small>
        </div>
        <div class="title">
            <h1><a href="{{ url(detail_url_name, pk=item.id) }}">{{ item.title }}</a></h1>
            <small>Submitted by:
                <a href="{{ item.submitter.profile_url }}">{{ item.submitter.full_name }}</a>
            </small>
        </div>
        {% if item.summary %}
            <div class="summary">
                {{ item.summary|markdown }}
            </div>
        {% endif %}
        {% if item.tags %}
            <div class="tag-list">
                {% for tag in item.tags %}
                    <span class="badge badge-primary p-1">{{ tag.name }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro list_page(list_state, item_component, detail_url_name) %}
    <div>
        {% for item in list_state.results %}
            {{ item_component(item, detail_url_name) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro retrieve_introduction(title) %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro subnav(items) %}
<ul class='nav nav-tabs justify-content-center'>
    {% for item in items %}
        <li class='nav-item'>
        {% if item.active %}
            <a class='nav-link active' href='{{ item.url }}'>{{ item.text }}</a>
        {% else %}
            <a class='nav-link' href='{{ item.url }}'>{{ item.text }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
{% endmacro %}


{% macro breadcrumb(items) %}
    <small>
        <ol class="breadcrumb">
            <li class='breadcrumb-item'><a href='/'>Home</a></li>
            {% for item in items %}
                {% if loop.last %}
                    <li class="breadcrumb-item active">{{ item.text }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </small>
{% endmacro %}

{% macro discourse_embed_script() %}
    {# See https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 for details #}
    <script type="text/javascript">

        DiscourseEmbed = {
            discourseUrl: "{{ DISCOURSE_BASE_URL }}/",
            discourseEmbedUrl: window.location.href
        };

        (function () {
            var d = document.createElement('script');
            d.type = 'text/javascript';
            d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
    </script>
{% endmacro %}
