{% macro submit_model_btn() %}
<div class='submit-model'><a class='btn btn-primary w-100' href='{{ url("library:codebase-create") }}'>Submit a model</a></div>
{% endmacro %}

{% macro user_href(user) %}
<a href='{{ user.profile_url }}'>{{ user.full_name }}</a>
{% endmacro %}

{% macro paginator(url_name, list_state) %}
    <nav aria-label="Paginator">
        {% if list_state.count %}
            <ul class="pagination">
                {% for page in list_state.range %}
                    {% if loop.first and page != 1 %}
                        <li class="page-item{% if page == list_state.current_page %} active{% endif %}">
                            <a href="{{ url(url_name) }}?{{ list_state.query_params }}&page=1#query"
                               class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                    <li class="page-item{% if page == list_state.current_page %} active{% endif %}">
                        <a href="{{ url(url_name) }}?{{ list_state.query_params }}&page={{ page }}#query"
                           class="page-link">{{ page }}</a>
                    </li>
                    {% if loop.last and page != list_state.n_pages %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        <li class="page-item{% if page == list_state.current_page %} active{% endif %}">
                            <a href="{{ url(url_name) }}?{{ list_state.query_params }}&page={{ list_state.n_pages }}#query"
                               class="page-link">{{ list_state.n_pages }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <span>{{ list_state.count }} results found.</span>
    </nav>
{% endmacro %}

{% macro list_page(list_state, item_component, detail_url_name) %}
    {% for item in list_state.results %}
        {{ item_component(item, detail_url_name) }}
    {% endfor %}
{% endmacro %}

{% macro subnav(items) %}
<ul class='nav nav-tabs justify-content-center'>
    {% for item in items %}
        <li class='nav-item'>
            <a class='nav-link {{ "active" if item.active else "" }}' href='{{ item.url }}'>{{ item.text }}</a>
        </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro breadcrumb(items) %}
    <small>
        <ol class="breadcrumb">
            <li class='breadcrumb-item'><a href='/'>Home</a></li>
            {% for item in items %}
                {% if loop.last %}
                    <li class="breadcrumb-item active">{{ item.text }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </small>
{% endmacro %}

{% macro discourse_embed_script() %}
    {# See https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 for details #}
    {% if not is_debug() %}
    <script type="text/javascript">

        DiscourseEmbed = {
            discourseUrl: "{{ DISCOURSE_BASE_URL }}/",
            discourseEmbedUrl: window.location.href
        };

        (function () {
            var d = document.createElement('script');
            d.type = 'text/javascript';
            d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
    </script>
    {% endif %}
{% endmacro %}
