{% macro submit_model_btn() %}
<div class='submit-model'><a class='btn btn-primary w-100' href='{{ url("library:codebase-add") }}'>Submit a model</a></div>
{% endmacro %}

{% macro checkmark(value) %}
{% if value %}
    <span class='text-success fa fa-check-circle'></span>
{% else %}
    <span class='text-danger fa fa-times-circle'></span>
{%endif %}
{% endmacro %}

{% macro search_tag_href(tag, css_classes='tag', category=None) %}
<a class='{{ css_classes }}' href='/{{category|default("search")}}/?tags={{tag.name|urlencode}}'>
    {{ tag.name }}
</a>
{% endmacro %}

{% macro search_tag_btn(tag, category=None) %}
{# FIXME: combination of CSS classes should be extracted into SCSS as a single convenience class #}
{{ search_tag_href(tag, 'btn btn-tag btn-outline-secondary', category) }}
{% endmacro %}

{% macro institution_href(institution) %}
{% if institution %}
    {% if institution.url %}
        <a href='{{ institution.url }}' target='_blank'>{{ institution.name }}</a>
    {% else %}
        {{ institution.name }}
    {% endif %}
{% endif %}
{% endmacro %}

{% macro member_profile_href(member_profile) -%}
<a href='{{ member_profile.profile_url }}'>{{ member_profile.name }}
    {% if caller -%}
        {{ caller() }}
    {%- endif %}
</a>
{%- endmacro %}

{% macro share_card(url) %}
{# FIXME: add detail_url to share links #}
<div class="card-metadata">
    <div class="card-body my-auto">
        <ul class='social-media-sm my-auto'>
            <li class='pr-2'><b>Share</b></li>
            <li>
                <a href='https://linkedin.com' title='LinkedIn' target='_blank'>
                    <span class='fa-stack'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa fa-linkedin fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
            <li>
                <a href='https://facebook.com' title='facebook' target='_blank'>
                    <span class='fa-stack'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa-facebook fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
            <li>
                <a href='https://twitter.com' title='Twitter' target='_blank'>
                    <span class='fa-stack'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa-twitter fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
            <li>
                <a href='#' title='Email'>
                    <span class='fa-stack'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa-envelope fa-inverse fa-stack-1x'></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endmacro %}

{% macro build_paginator_url_params(page_number, query_params) %}{%- if query_params %}{{ query_params }}&amp;{%endif -%}page={{page_number}}{% endmacro %}

{% macro paginator(url_name, list_state) %}
    <nav aria-label="Page navigation">
        {% if list_state.count %}
            <ul class="pt-3 pagination">
                <li class='page-item {{ "disabled" if list_state.is_first_page else ""}}'>
                    <a class='page-link' href='{{ url(url_name) }}?{{ build_paginator_url_params(list_state.current_page - 1, list_state.query_params) }}'
                        aria-label='Previous'>
                        <span aria-hidden='true'>&laquo;</span>
                        <span class='sr-only'>Previous</span>
                    </a>
                </li>
                <li class='page-item {{ "active" if list_state.is_first_page else ""}}'>
                    <a class='page-link' href="{{ url(url_name) }}?{{ build_paginator_url_params(1, list_state.query_params) }}">1</a>
                </li>
                {% for page in list_state.range -%}
                    {% if loop.first and page > 2 %}
                        <li class='page-item disabled'>
                            <span class='page-link'>&hellip;</span>
                        </li>
                    {% endif %}
                    <li class='page-item {{ "active" if page == list_state.current_page else ""}}'>
                        <a href="{{ url(url_name) }}?{{ build_paginator_url_params(page, list_state.query_params) }}"
                           class="page-link">{{ page }}</a>
                    </li>
                    {% if loop.last and page < list_state.num_pages - 1 -%}
                        <li class="page-item disabled">
                            <span class='page-link'>&hellip;</span>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if list_state.num_pages > 1 -%}
                    <li class="page-item {{ "active" if list_state.is_last_page }}">
                        <a href="{{ url(url_name) }}?{{ build_paginator_url_params(list_state.num_pages, list_state.query_params) }}" 
                        class="page-link">{{ list_state.num_pages }}</a>
                    </li>
                {% endif %}
                <li class='page-item {{ "disabled" if list_state.is_last_page }}'>
                    <a class='page-link' href='{{ url(url_name) }}?{{ build_paginator_url_params(list_state.current_page + 1, list_state.query_params) }}'
                        aria-label='Previous'>
                        <span aria-hidden='true'>&raquo;</span>
                        <span class='sr-only'>Next</span>
                    </a>
                </li>
            </ul>
        {% endif %}
        <div class='tag-list'>
            {% if list_state.search_terms %}
                Searching on {% for term in list_state.search_terms %} <span class='tag'>{{ term }}</span>{% endfor %}
                <a class='text-danger' href='{{url(url_name)}}'><span class='fa fa-times'></span> clear</a>,
            {% endif %}
            displaying {{ list_state.num_results }} of <strong>{{ list_state.count }}</strong> results
        </div>
    </nav>
{% endmacro %}

{% macro list_page(list_state, item_component, detail_url_name) %}
    {% for item in list_state.results %}
        {{ item_component(item, detail_url_name) }}
    {% else %}
        <p class='lead pt-3'>
            No matching results found.
        </p>
    {% endfor %}
{% endmacro %}

{% macro subnav(items) %}
{% if items %}
<ul class='nav nav-tabs justify-content-center'>
    {% for item in items %}
        <li class='nav-item'>
            <a class='nav-link {{ "active" if item.active else "" }}' href='{{ item.url }}'>{{ item.text }}</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro breadcrumb(items) %}
<ol class="breadcrumb">
    <li class='breadcrumb-item'><a href='/'>Home</a></li>
    {% for item in items %}
        {% if not item.url %}
            <li class="breadcrumb-item active">{{ item.text }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endif %}
    {% endfor %}
</ol>
{% endmacro %}

{% macro render_social_profile_url(request, provider_name, profile_url, connect=False) %}
{# special case orcid icon #}
{% with provider_icon_class="ai text-orcid ai-orcid" if provider_name == "orcid" else "text-gray fa fa-" ~ provider_name %}
    {% if profile_url %}
        <a target='_blank' href='{{ profile_url }}'>
            <i class='{{ provider_icon_class }}'></i> {{ profile_url }}
        </a>
    {% elif connect %}
        <a title="{{ provider_name }}" href="{{ provider_login_url(request, provider_name, process="connect") }}">
             <i class='{{ provider_icon_class }}'></i> Connect your {{ provider_name }} account
        </a>
    {% else %}
        No associated {{ provider_name }} account.
    {% endif %}
{% endwith %}
{% endmacro %}

{% macro embed_discourse_comments(is_public, submitter_username) %}
{# See https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 for details #}
{% if should_enable_discourse(is_public) %}
    <h3>Discussion</h3>
    <div id="discourse-comments"></div>
    <script>
        DiscourseEmbed = {
            discourseUrl: "{{ DISCOURSE_BASE_URL }}/",
            discourseUserName: "{{ submitter_username }}",
            discourseEmbedUrl: window.location.href
        };
        (function () {
            var d = document.createElement('script');
            d.type = 'text/javascript';
            d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
    </script>
{% else %}
    Discourse comments are disabled.
    {% if not is_public %}
        <em><span class='fa fa-lock'></span> (this page is private)</em>
    {% else %}
        Currently in <em><mark>{{ deploy_environment() }}</mark></em> mode.
    {% endif %}
{% endif %}
{% endmacro %}

{% macro format_date(date) %}
    {{ date.strftime('%B %d, %Y %I:%M %p') }}
{% endmacro %}
