{% extends "base.jinja" %}

{% block introduction %}
    <h1>External sign in failed authentication</h1>
{% endblock %}

{% block content %}
    <p>
    Sorry, we weren't able to successfully authenticate you with this external authentication provider.
    You can try to <a href="{{ url('account_login') }}">sign in</a> again or
    <a href='{{slugurl("contact")}}'>contact us</a> if this persists.
    </p>
{% endblock %}
