{% extends "base.jinja" %}
{% from "common.jinja" import render_social_profile_url %}

{% block title %}External Account Connections{% endblock %}

{% block introduction %}
<h1>External Account Connections</h1>
{% endblock %}

{% block content %}
    <h2>Connect your CoMSES account with <a target='_blank' href='https://education.github.com'>GitHub</a> or <a target='_blank' href='/about/orcid/'>ORCID</a></h2>
    <hr>
    <p>
    Connecting your account with GitHub or ORCID can provide additional benefits - peer reviewed models that have been issued a DOI will be associated with your ORCID.
    {% if form.accounts %}
    <h3>Your authorized external accounts</h3>

    <form method="post" action="{{ url('socialaccount_connections') }}">
        {{ csrf_input }}

        {% if form.non_field_errors() %}
            <div id="errorMsg">{{ form.non_field_errors() }}</div>
        {% endif %}
        <div class='form-group row'>
            <div class='col-10'>
                {% for base_account in form.accounts %}
                    {% with account = base_account.get_provider_account() %}
                        <div class='form-check'>
                            <label class='form-check-label' for="id_account_{{ base_account.id }}">
                                <input class='form-check-input' id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                                <span class="fab fa-{{ base_account.provider }} {{ account.get_brand().id }}"></span> {{account.get_brand().name}} -
                                <a target='_blank' href='{{ account.get_profile_url() }}'>{{ account }}</a>
                            </label>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        <button type="submit" class='btn btn-sm btn-primary'><span class='fa fa-trash'></span> Remove</button>
        {% if form.accounts|length == 1 and not request.user.has_usable_password() %}     
            <p class='text-muted'>
                You must
                <a href="{{ url('account_reset_password') }}">set a password</a>
                before you can remove your only connected account.
            </p>
        {% endif %}
    </form>
{% else %}
    <p>No connected accounts.</p>
{% endif %}
<hr>
<h3>Link your account</h3>
<div class='card'>
    <div class='card-block'>
        <ul class="list-group list-group-flush">
            <li class='list-group-item'>
                {{ render_social_profile_url(request, 'github', request.user.member_profile.github_url, connect=True, csrf_input=csrf_input) }}
            </li>
            <li class='list-group-item'>
                {{ render_social_profile_url(request, 'orcid', request.user.member_profile.orcid_url, connect=True, csrf_input=csrf_input) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
