{% extends "base.jinja" %}


{% block introduction %}
    <h1>External sign in canceled</h1>
{% endblock %}

{% block content %}

<p>
Your request to sign in to CoMSES.Net using an external account has been cancelled. If this was unintentional, you can try to <a href="{{ url('account_login') }}">sign in</a> again.
</p>

{% endblock %}
