{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav, submit_model_btn, search_tag_href %}

{% block ogp_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.comses.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CoMSES Net Resources">
    <meta property="og:description" content="CoMSES Net is dedicated to fostering open and reproducible computational modeling through trusted cyberinfrastructure and community development. We maintain these community curated resources to help new and experienced computational modelers adopt FAIR principles for digital data management and improve the discoverability, reusability, and reproducibility of their computational models.">
    <meta property="og:image" content="/static/images/logo.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="comses.net">
    <meta property="twitter:url" content="https://www.comses.net/">
    <meta name="twitter:title" content="CoMSES Net Resources">
    <meta name="twitter:description" content="CoMSES Net is dedicated to fostering open and reproducible computational modeling through trusted cyberinfrastructure and community development. We maintain these community curated resources to help new and experienced computational modelers adopt FAIR principles for digital data management and improve the discoverability, reusability, and reproducibility of their computational models.">
    <meta name="twitter:image" content="/static/images/logo.png">
{% endblock ogp_tags%}


{% block title %}{{ page.title }}{% endblock %}

{% block introduction %}<h1>Resources</h1>{% endblock %}

{% block content %}
    {# FIXME: move these to db #}
    {{ breadcrumb(page.get_breadcrumbs()) }}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1>{{ page.title }}</h1>
        <div class='pt-4 lead'>
            {{ markdown(page.description) }}
        </div>
    </div>
    {% for p in platforms %}
        <h3><a target='_blank' href='{{ p.platform.url }}'>{{ p.platform.name }}</a>
            {% if p.platform.active %}
                <span class='badge bg-success'>active</span>
            {% else %}
                <span class='badge bg-warning'>inactive</span>
            {% endif %}
            {% if p.platform.open_source %}
                <span class='badge bg-success'><i class='fas fa-code-branch'></i></span>
            {% endif %}
        </h3>
        <div class='description'>
            {% autoescape off %}{{ p.platform.description.rendered }}{% endautoescape %}
        </div>
        <div class='tag-list'>
            {% for tag in p.platform.tags.all() %}
                {{ search_tag_href(tag) }}
            {% endfor %}
        </div>
        <hr/>
    {% endfor %}
{% endblock %}
