{% extends "base.jinja" %}
{% from "common.jinja" import breadcrumb, subnav, submit_model_btn, search_tag_href %}

{% block ogp_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.comses.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Computational Modeling Journals">
    <meta property="og:description" content="A list of scholarly journals that address theoretical and methodological concerns for agent-based modeling and related computational modeling sciences.">
    <meta property="og:image" content="{{ static('images/logo-comses.png') }}">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="comses.net">
    <meta property="twitter:url" content="https://www.comses.net/">
    <meta name="twitter:title" content="Computational Modeling Journals">
    <meta name="twitter:description" content="A list of scholarly journals that address theoretical and methodological concerns for agent-based modeling and related computational modeling sciences.">
    <meta property="og:image" content="{{ static('images/logo-comses.png') }}">
{% endblock ogp_tags%}

{% block title %}{{ page.title }}{% endblock %}

{% block introduction %}<h1>Resources</h1>{% endblock %}

{% block content %}
    {{ breadcrumb(page.get_breadcrumbs()) }}
    {{ subnav(page.get_navigation_links()) }}
    <div class='jumbotron'>
        <h1>{{ page.title }}</h1>
        <div class='pt-4 lead'>
            {{ markdown(page.description) }}
        </div>
    </div>
    {% for journal_placement in page.journal_placements.all() %}
        <h3><a target='_blank' href='{{ journal_placement.journal.url }}'>{{ journal_placement.journal.name }}</a></h3>
        <div class='description'>
            {% autoescape off %}
                {{ journal_placement.journal.description }}
            {% endautoescape %}
        </div>
        <div class='tag-list'>
            {% for tag in journal_placement.journal.tags.all() %}
                {{ search_tag_href(tag) }}
            {% endfor %}
        </div>
        <hr/>
    {% endfor %}
{% endblock content %}
