name: E2E Tests

on:
  workflow_dispatch # disabled pending db seeding
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build containers and run cypress e2e tests
        # TODO: seed the database with a sparse(r) dump so there are pages to test..
        run: make e2e
